<div class="container mb-5">
  <h1 class="text-center" *ngIf="createNewTemplate">Create SMS Template</h1>
  <h1 class="text-center" *ngIf="!createNewTemplate">Edit SMS Template</h1>
  <div class="row py-4">
    <div class="col-md-6">
      <form (ngSubmit)="onSave(f)" #f="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" maxlength="100" id="name" name="name" required
                 placeholder="Name (Will help you in searching templates)" [(ngModel)]="smsTemplate.name">
        </div>
        <div class="form-group">
          <label for="messageType">Sms Message Type</label>
          <select type="text" class="form-control" id="messageType" name="messageType" required
                  [(ngModel)]="smsTemplate.messageType">
            <option value="PROMOTIONAL">PROMOTIONAL</option>
            <option value="TRANSACTIONAL">TRANSACTIONAL</option>
          </select>
        </div>
        <div class="form-group">
          <label for="fromSmsAddress">From Sms address</label>
          <select type="sms" class="form-control" id="fromSmsAddress" name="fromSmsAddress" required
                  [(ngModel)]="smsTemplate.from">
            <option>UD-TEST</option>
            <option>UD-TEST1</option>
          </select>
        </div>
        <div class="form-group">
          <label for="toSegment">To (Segment)</label>
          <select type="text" class="form-control" id="toSegment" name="toSegment" required>
            <option>segment 1</option>
            <option>segment 2</option>
          </select>
          <a href="#">Create Segment</a>
        </div>
        <div class="form-group">
          <label for="smsBody">Sms Text</label>
          <textarea type="text" class="form-control" id="smsBody" name="smsBody" placeholder="Sms text" rows="8"
                    [(ngModel)]="smsTemplate.smsTemplateBody" required></textarea>
        </div>
        <div class="text-right">
          <button class="btn btn-light" (click)="onCancel()">Cancel
          </button>
          <button type="submit" class="btn btn-primary"
                  [disabled]="!f.valid">Save
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="preview">
        <div class="preview-sms preview-mobile preview-android">
          <div class="preview-android-sms">
            <div class="preview-androd-sms-text">{{smsTemplate.smsTemplateBody}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
