<div id="homepage">
  <header>
    <div class="about-us-heading">
      <h1 class="text-white font-weight-bold">About Us</h1>
    </div>
  </header>
  <section class="philosophy py-5 px-4 container-fluid bg-light">
    <div class="container">
      <div class="row justify-content-center py-3 mt-4">
        <h2 class="display-4 text-uppercase text-center col-12">Our Mission, Principles and Philosophy</h2>
        <span class="d-block bg-primary mt-3" style="height: 3px;width: 70px;"></span>
      </div>
      <div class="row mt-4 mb-3 px-lg-5 justify-content-center">
        <div class="col-lg-8 col-md-10">
          <p class="about-us-text px-5">UserNDot is working with the mission statement “Happy, satisfied and
            engaged users”.</p>
          <p class="about-us-text px-5">We at UserNDot believe that the satisfied users are the most rewarding
            ones, and only an effective communication could keep them satisfied. Today “Lack of direction, not lack of
            time, is the problem”. Marketing with proper direction and feedback review process, gives exceptional
            results and better ROI. And everybody at UserNDot believe and try to provide our clients the same. Marketers
            could take correct decisions once they have the correct data and we help them get that.</p>
          <p class="about-us-text px-5">We provide easy to use automated solutions for Digital Marketing.
            Founded by Amit Lamba and Shiv Singh, a team of highly enthusiastic professionals, working tirelessly to help
            clients with well engaged and satisfied users.</p>
          <p class="about-us-text px-5">With the advanced and state-of-the-art solutions, to understand and
            segment the users in a very precise manner, and reach them out with the precise messaging at the requisite
            time. We provide solutions to help our clientele market the product or services online in the most efficient
            and reliable way possible. With the help of our advanced message template creation tool, it is feasible to
            personalize the messages till the very detail.</p>
          <p class="about-us-text px-5">UserNDot aims to be the most authentic and desirable place for marketers
            with most of their marketing needs and to facilitate with seamless marketing and engagement tools to keep
            them ahead of the competition.</p>
        </div>
      </div>
    </div>
  </section>
  <!--<section class="py-5 px-4 container">-->
  <!--<div class="row justify-content-center py-3 mt-4">-->
  <!--<h2 class="display-4 text-uppercase text-center col-12">Our Team</h2>-->
  <!--<span class="d-block bg-primary mt-3" style="height: 3px;width: 70px;"></span>-->
  <!--</div>-->
  <!--<div class="row mt-4 mb-3">-->
  <!--<p class="about-us-text px-5">-->
  <!--Lorem ipsum esse libero magni, quaerat veritatis voluptate. Accusamus aspernatur consequuntur esse expedita, itaque tempora.-->
  <!--re esse libero magni, quaerat veritatis voluptate. Accusamus aspernatur consequuntur esse expedita, itaque tempora.-->
  <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium amet autem blanditiis consectetur consequuntur dolor dolo-->
  <!--re esse libero magni, quaerat veritatis voluptate. Accusamus aspernatur consequuntur esse expedita, itaque tempora.-->
  <!--</p>-->
  <!--</div>-->
  <!--<div class="row mt-2 mb-3 justify-content-center mt-2">-->
  <!--<div class="col-md-5 col-xs-12 px-3 mx-2 team-box">-->
  <!--<div class="row justify-content-center mt-3">-->
  <!--<img src="../../assets/img/ceo1.jpg" alt="ceo" class="rounded-circle"-->
  <!--style="width:120px;height: 120px;">-->
  <!--</div>-->
  <!--<div class="row text-center mt-3 mb-0">-->
  <!--<h4 class="w-100 mb-0">Amit Lamba</h4>-->
  <!--<p class="w-100 font-weight-light text-uppercase">Ceo</p>-->
  <!--</div>-->
  <!--<div class="row text-center px-2">-->
  <!--<p>-->
  <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur consequatur consequuntur cumque cupiditate dolorem-->
  <!--ducimus earum eum explicabo, id ipsa magnam, nihil quaerat quidem repellendus suscipit temporibus ut vitae.</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-5 col-xs-12 px-3 mx-2 team-box">-->
  <!--<div class="row justify-content-center mt-3">-->
  <!--<img src="../../assets/img/ceo1.jpg" alt="ceo" class="rounded-circle"-->
  <!--style="width:120px;height: 120px;">-->
  <!--</div>-->
  <!--<div class="row text-center mt-3 mb-0">-->
  <!--<h4 class="w-100 mb-0">Amit Lamba</h4>-->
  <!--<p class="w-100 font-weight-light text-uppercase">Ceo</p>-->
  <!--</div>-->
  <!--<div class="row text-center px-2">-->
  <!--<p>-->
  <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur consequatur consequuntur cumque cupiditate dolorem-->
  <!--ducimus earum eum explicabo, id ipsa magnam, nihil quaerat quidem repellendus suscipit temporibus ut vitae.</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</section>-->
</div>

