<!--<table class="table table-hover">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th scope="col">Event Name</th>-->
    <!--<th scope="col">Today</th>-->
    <!--<th scope="col">Yesterday</th>-->
    <!--<th scope="col">Week Ago</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr *ngFor="let data of eventUserTableData">-->
    <!--<td><a [routerLink]="['/reports/event/overall']" [queryParams]="{event:data.eventName}">{{data.eventName}}</a></td>-->
    <!--<td>{{data.count[0]}}</td>-->
    <!--<td>{{data.count[1]}}</td>-->
    <!--<td>{{data.count[2]}}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->

<!--<table class="table table-hover">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th scope="col">Event Name</th>-->
    <!--<th scope="col">Today</th>-->
    <!--<th scope="col">Yesterday</th>-->
    <!--<th scope="col">Week Ago</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr *ngFor="let data of events">-->
    <!--<td><a [routerLink]="['/reports/event/overall']" [queryParams]="{event:data}">{{data}}</a></td>-->
    <!--<td *ngFor="let d of newdata.get(data)">{{d}}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->
