.custom-class{
  line-height: 12px;
}
.multiselect{
  height:100%;
}
.date-comparator {
  margin-top: -7px;
}
/*.selected-list[_ngcontent-c10] .c-btn[_ngcontent-c10] {*/
  /*box-shadow:none;*/
  /*padding: 9px 5px 9px 11px;*/
/*}*/
