<div class="container-fluid mb-4" id="settings">
  <h2 class="text-center">Settings</h2>
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['profile']" [routerLinkActive]="['active']">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['service-provider-settings']" [routerLinkActive]="['active']">Service
        Providers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['account-settings']" [routerLinkActive]="['active']">Account Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['email-settings','email-list']" [routerLinkActive]="['active']">Email Settings</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
