#homepage {
  background-color: #F7F8FA;
}

.title {
  background-position: 55% !important;
  height: 40vh !important;
  background-color: #ebecf7;
  text-align: center;
}

.pricingSection {
  margin-top: 4em;
  margin-left: 10em;
  margin-right: 3em;
}

.benefits-paragraph {
  font-weight: 500;
  margin-left:4em;
  margin-bottom: 1.5em;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 0px;
  text-align: left;
  transition: transform 1.5s;
  font-family: Montserrat;
  display: block;
}

.fa-check-circle {
  color:green;
  font-size: 20px;
  margin-left:1em;
  margin-right: 1em;
  float:left;
}
 .header {
   font-size: 3em;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-family: Montserrat;
}

h2 {
  color:white;
}

.subtag {
  font-family: Montserrat;
  font-weight: 600;
  font-size:15px;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: center;
  //margin-top: 5em;
}

.card-header {
  background-color: #007bff;
}


