<div id="homepage">
  <header>
    <div class="pricing">
      <h1 class="text-white font-weight-bold">Pricing</h1>
    </div>
  </header>
  <div class="row mt-3 col-md-12">
    <div class="col-md-5 ml-5 mr-5">
      <div class="card h-100 pricingSection">
        <h2 class="card-header text-center font-weight-bold">One Time On Premises</h2>
        <div class="card-body">
          <span class="dot"></span><span class="benefits-paragraph ">Contact Us for pricing</span>
          <span class="dot"></span><span class="benefits-paragraph ">What is included in the plan?</span>
          <span class="dot"></span> <span class="benefits-paragraph ">Pay one time</span>
          <span class="dot"></span><span class="benefits-paragraph ">Lifetime free to use</span>
          <span class="dot"></span><span class="benefits-paragraph ">Support for 1 Year</span>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-primary" (click)="ContactForm(target)">Contact Us</button>
        </div>
      </div>
    </div>
    <div class="col-md-5 ml-5 mr-5 ">
      <div class="card h-100 w-auto pricingSection">
        <h2 class="card-header text-center font-weight-bold">SAAS</h2>
        <div class="card-body">
          <p class="benefits-paragraph ">Contact Us for pricing</p>
          <p class="benefits-paragraph">What is included in the plan?</p>
          <p class="benefits-paragraph ">Pay as you go</p>
          <p class="benefits-paragraph">Annual and Semi Annual Subscription</p>
          <p class="benefits-paragraph ">Create your account and you are good to go</p>
          <p class="benefits-paragraph">Support for the period of use</p>
          <p class="benefits-paragraph">We can also write the different features we have and tick on both.</p>
          <p class="benefits-paragraph">We could also show a Free trial 1 month in SaaS based system.​​</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-primary" (click)="ContactForm(target) ">Contact Us</button>
        </div>
      </div>
    </div>
  </div>
  <div #target>
    <app-contact-us-form></app-contact-us-form>
  </div>
</div>

