<div id="homepage">
  <header>
    <div class="title">
      <h1 class="text-primary font-weight-bold">Pricing</h1>
    </div>
<!--    <p class="pricing text-capitalize">choose the plan that work for you.Our pricing is flexible so you can get and pay for what you need.</p>-->

  </header>
  <div class="row col-md-12">
    <div class="col-md-5 " style="margin-left: 4em; margin-right: 3em">
      <div class="card h-100 pricingSection">
        <h2 class="card-header text-primary text-center font-weight-bold">One Time On Premises</h2>
        <div class="card-body">
            <i class="fas fa-check-circle"></i> <p class="benefits-paragraph ">Contact Us for pricing</p>
<!--            <i class="fas fa-check-circle"></i> <p class="benefits-paragraph ">What is included in the plan?</p>-->
            <i class="fas fa-check-circle"></i> <p class="benefits-paragraph ">Pay one time</p>
            <i class="fas fa-check-circle"></i> <p class="benefits-paragraph ">Lifetime free to use</p>
            <i class="fas fa-check-circle"></i> <p class="benefits-paragraph ">Support for 1 Year</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-primary" (click)="ContactForm(target)">Contact Us</button>
        </div>
      </div>
    </div>
    <div class="col-md-5" style="margin-left: 4em; margin-right: 3em">
      <div class="card h-100 w-auto pricingSection">
        <h2 class="card-header text-primary text-center font-weight-bold">SAAS</h2>
        <div class="card-body">
          <i class="fas fa-check-circle"></i> <p class="benefits-paragraph ">Contact Us for pricing</p>
<!--          <i class="fas fa-check-circle"></i> <p class="benefits-paragraph">What is included in the plan?</p>-->
          <i class="fas fa-check-circle"></i> <p class="benefits-paragraph ">Pay as you go</p>
          <i class="fas fa-check-circle"></i> <p class="benefits-paragraph">Annual and Semi Annual Subscription</p>
          <i class="fas fa-check-circle"></i> <p class="benefits-paragraph ">Create your account and you are good to go</p>
          <i class="fas fa-check-circle"></i> <p class="benefits-paragraph">Support for the period of use</p>
          <i class="fas fa-check-circle"></i> <p class="benefits-paragraph">We can also write the different features we have and tick on both.</p>
          <i class="fas fa-check-circle"></i> <p class="benefits-paragraph">We could also show a Free trial 1 month in SaaS based system.​​</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-primary" (click)="ContactForm(target) ">Contact Us</button>
        </div>
      </div>
    </div>
  </div>
  <div #target>
    <app-contact-us-form></app-contact-us-form>
  </div>
</div>

