#homepage {
  background-color: white;
}

.benefits-paragraph {
  margin-left:4em;
  margin-bottom: 1.5em;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 0px;
  text-align: left;
  transition: transform 1.5s;
  display: block;
}

.fa-check-circle {
  color:green;
  font-size: 20px;
  margin-left:1em;
  margin-right: 1em;
  float:left;
}
 .priceheader {
   font-size: 1.7em;
  letter-spacing: 1px;
   color: #f33328;
}

.header {
  font-size: 3em;
  letter-spacing: 1px;
}

h2 {
  color:white;
}

.subtag {
  font-size:15px;
  letter-spacing: 1px;
  text-align: center;
  //margin-top: 5em;
}

.card-header {
  background-color:  #132E63;
}


