<!--<div class="jumbotron">-->
<div class="fluid">
  <!--<div class="col-sm-8 col-sm-offset-2">-->
  <div class="mb-4">
  <app-header *ngIf="isLoggedIn()" class="loggedIn"></app-header><!--(logout)="logout()"-->
  <app-logout-header *ngIf="!isLoggedIn()" class="notLoggedIn"></app-logout-header><!--(loginEvent)="login()"-->
  </div>
  <!--<div *ngIf="isLoggedIn()"></div>-->
  <div style="min-height:70vh">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  <app-messages></app-messages>
</div>
