<div class="fluid">
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="['/dashboard']">UserNDot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-md-start text-right" id="navbarSupportedContent">
      <!--<ul class="navbar-nav mr-auto">-->
        <!--<li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">-->
          <!--<a class="nav-link" [routerLink]="['/dashboard']"><i class="fa fa-home"></i> Dashboard</a>-->
        <!--</li>-->
        <!--<li class="nav-item dropdown">-->
          <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTemplates" role="button" data-toggle="dropdown"-->
             <!--aria-haspopup="true" aria-expanded="false" [routerLinkActive]="['active']">-->
            <!--<i class="fa fa-file"></i> Templates-->
          <!--</a>-->
          <!--<div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown" [routerLinkActive]="['active']">-->
            <!--<a class="dropdown-item" [routerLink]="['/templates/email']" [routerLinkActive]="['active']">Email Templates</a>-->
            <!--<a class="dropdown-item" [routerLink]="['/templates/sms']" [routerLinkActive]="['active']">Sms Templates</a>-->
          <!--</div>-->
        <!--</li>-->

        <!--<li class="nav-item dropdown">-->
          <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSegments" role="button" data-toggle="dropdown"-->
             <!--aria-haspopup="true" aria-expanded="false" [routerLinkActive]="['active']">-->
            <!--<i class="fas fa-wrench"></i> Segments-->
          <!--</a>-->
          <!--<div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownSegments" [routerLinkActive]="['active']">-->
            <!--<a class="dropdown-item" [routerLink]="['/segment/find-users']" [routerLinkActive]="['active']">Find Users</a>-->
            <!--<a class="dropdown-item" [routerLink]="['/segment/segments']" [routerLinkActive]="['active']">Segments</a>-->
          <!--</div>-->
        <!--</li>-->

        <!--<li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">-->
          <!--<a class="nav-link" [routerLink]="['/campaigns']"><i class="fas fa-share-square"></i> Campaigns</a>-->
        <!--</li>-->

        <!--<li class="nav-item dropdown">-->
          <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReports" role="button" data-toggle="dropdown"-->
             <!--aria-haspopup="true" aria-expanded="false" [routerLinkActive]="['active']">-->
            <!--<i class="fas fa-wrench"></i> Reports-->
          <!--</a>-->
          <!--<div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownSegments" [routerLinkActive]="['active']">-->
            <!--<a class="dropdown-item" [routerLink]="['/reports/event']" [routerLinkActive]="['active']">Events</a>-->
          <!--</div>-->
        <!--</li>-->
        <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
          <!--&lt;!&ndash;<a class="nav-link disabled">Disabled</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
      <!--</ul>-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            {{clientName()}}
          </a>
          <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/settings/service-provider-settings']"><i class="fas fa-cog"></i>
              Settings</a>
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/login']" (click)="logoutUser()"><i class="fas fa-power-off"></i>
              Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
