<div class="fluid " style="margin-bottom: 5em;">
  <nav class="navbar navbar-expand-md navbar-light bg-white overflow-hidden position-fixed w-100 fixed-top" >
    <!--<div class="container-fluid">-->
    <a class="navbar-brand text-primary font-weight-bold" [routerLink]="[logoLink]">User<span
      class="text-secondary">N</span>Dot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--<ul class="navbar-nav mr-auto">-->
      <!--<li class="nav-item active">-->
      <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">Link</a>-->
      <!--</li>-->
      <!--<li class="nav-item dropdown">-->
      <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
      <!--aria-haspopup="true" aria-expanded="false">-->
      <!--Dropdown-->
      <!--</a>-->
      <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
      <!--<a class="dropdown-item" href="#">Action</a>-->
      <!--<a class="dropdown-item" href="#">Another action</a>-->
      <!--<div class="dropdown-divider"></div>-->
      <!--<a class="dropdown-item" href="#">Something else here</a>-->
      <!--</div>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link disabled" href="#">Disabled</a>-->
      <!--</li>-->
      <!--</ul>-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']"><span class="btn btn-link w300">Why UserNDot?</span></a>
        </li>
        <li class="nav-item" (click)="documentEvent()">
          <a class="nav-link" href="/d/docs/fundamentals/about" target="_blank"><span class="btn btn-link w300">Documentation</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pricing']" (click)="priceEvent()"><span class="btn btn-link w300">Pricing</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact-us']" (click)="contactUsEvent()"><span class="btn btn-link w300">ContactUs</span></a>
        </li>
        <li class="nav-item mx-md-2">
          <a class="nav-link" [routerLink]="[registerLink]"><span class="btn btn-primary w400">SignUp</span></a>
        </li>
        <li class="nav-item mx-md-2">
          <a class="nav-link" [routerLink]="[loginLink]"><span class="btn btn-outline-primary w400">Login</span></a>
        </li>
      </ul>
    </div>
    <!--</div>-->
  </nav>
</div>
