#homepage {
  //margin-top:-1.5em;
  font-weight: 400;
  color: #555555 !important;
  background: white;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/img/und-about-us.jpg");
  background-position: 55%;
  background-attachment: fixed;
  height: calc(50vh - 1.5em);
  background-size: cover;
  position: relative;
}
.display-4 {
  font-size: 3rem;
}

//New
.terms-of-service-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.terms-of-service-text {
  font-size: 1.1rem;
}
