<section class="py-5 px-4 container-fluid" style="background-color: #f7f8fa;">
  <div class="container">
    <div class="row justify-content-center py-3">
      <h2 class="display-4 text-uppercase text-center col-12 text-primary font-weight-bold">product features</h2>
    </div>
      <div class="justify-content-center">
        <div class="col-md-10 product margin">
          <div class="row">
            <div class="col-md-5 col-sm-6 ">
              <h4 class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary">easy to
                integrate </h4>
              <p class="section-paragraph text-capitalize mt-2">
                integration is a child’s game. just plug and play.you would be ready for use with very less effort.
              </p>
            </div>
            <div class="col-md-5 col-sm-6 text-center">
              <img src="assets/img/userndot/product/1.svg">
            </div>
          </div>
        </div>
        <div class="col-md-10 product margin">
          <div class="row">
            <div class="col-md-5 col-sm-6 ">
              <img src="assets/img/userndot/product/2.svg">
            </div>
            <div class="col-md-5 col-sm-6 ">
              <h4 class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary"
                  style="letter-spacing: 1px;">
                a/b testing / experiment</h4>
              <p class="section-paragraph text-capitalize mt-2">experiment with different kind of messaging and keep the best,
                and
                gradually reach towards the ideal.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-10 product margin">
          <div class="row ">
            <div class="col-md-5 col-sm-6 ">
              <h4 class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary">
                geolocation based targeting</h4>
              <p class="section-paragraph text-capitalize mt-2">you could target your users based on their geographical
                locations.
              </p>
            </div>
            <div class="col-md-5 col-sm-6 text-center">
              <img src="assets/img/userndot/product/3.svg">
            </div>
          </div>
        </div>
        <div class="col-md-10 product margin">
          <div class="row ">
            <div class="col-md-5 col-sm-6 ">
              <img src="assets/img/userndot/product/4.svg">
            </div>
            <div class="col-md-5 col-sm-6 ">
              <h4 class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary"
                  style="letter-spacing: 1px;">
                customized messaging</h4>
              <p class="section-paragraph text-capitalize mt-2">use the details and behaviour of your user to send them custom
                messages.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-10 product margin">
          <div class="row ">
            <div class="col-md-5 col-sm-6 ">
              <h4 class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary"
                  style="letter-spacing: 1px;">
                advanced segmentation</h4>
              <p class="section-paragraph text-capitalize mt-2">segment your users with the help of our advanced segmentation tool
                based on user details, user behaviour and geo locations.
              </p>
            </div>
            <div class="col-md-5 col-sm-6 text-center">
              <img src="assets/img/userndot/product/5.svg">
            </div>
          </div>
        </div>
        <div class="col-md-10 product margin">
          <div class="row ">
            <div class="col-md-5 col-sm-6  ">
              <img src="assets/img/userndot/product/6.svg">
            </div>
            <div class="col-md-5 col-sm-6 ">
              <h4 class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary"
                  style="letter-spacing: 1px;">
                multiple channels for marketing</h4>
              <p class="section-paragraph text-capitalize mt-2">email, sms, mobile notifications, in app notification, browser
                push
                notifications,
                and browser notifications all at one place.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-10 product margin">
          <div class="row ">
            <div class="col-md-5 col-sm-6 ">
              <h4 class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary"
                  style="letter-spacing: 1px;">
                realtime reporting</h4>
              <p class="section-paragraph text-capitalize mt-2">get quick and realtime feedback about the users and user
                behaviour.
              </p>
            </div>
            <div class="col-md-5 col-sm-6 text-center">
              <img src="assets/img/userndot/product/7.svg">
            </div>
          </div>
        </div>
        <div class="col-md-10  margin product">
          <div class="row ">
            <div class="col-md-5 col-sm-6 ">
              <img src="assets/img/userndot/product/8.svg">
            </div>
            <div class="col-md-5 col-sm-6 ">
              <h4 class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary"
                  style="letter-spacing: 1px;">
                ahead of time scheduling</h4>
              <p class="section-paragraph text-capitalize mt-2">schedule campaigns at the convenience of your time.
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

