<section class="main" style="background-color: #ffffff">
<section class="header py-5 px-4">
    <div class="row justify-content-center py-3">
      <h2 class="display-4 mt-4 text-uppercase text-center col-12 text-primary w200">product features</h2>
    </div>
</section>
    <section class="container-fluid">
  <div class="container mb-5 ">
    <div class="col-md-12 mt-5">
      <div class="row">

        <div class="nav flex-column nav-pills col-md-4" id="v-pills-tab" role="tablist">
          <ul class="list-group">
          <li class="list-group-item text-capitalize "><a class="nav-link active" id="v-pills-integrate-tab" data-toggle="pill" href="#v-pills-integrate" role="tab"
                                                          aria-controls="v-pills-integrate" aria-selected="true"><p class="pt-2 w400">Easy to integrate</p></a></li>
            <li class="list-group-item text-capitalize"> <a class="nav-link" id="v-pills-testing-tab" data-toggle="pill" href="#v-pills-testing" role="tab"
                                                            aria-controls="v-pills-testing" aria-selected="false"><p class="pt-2 w400">a/b testing / experiment</p></a></li>
            <li class="list-group-item text-capitalize"><a class="nav-link" id="v-pills-geolocation-tab" data-toggle="pill" href="#v-pills-geolocation" role="tab"
                                                           aria-controls="v-pills-geolocation" aria-selected="false"><p class="pt-2 w400">geolocation based targeting</p></a></li>
            <li class="list-group-item text-capitalize"><a class="nav-link" id="v-pills-customized-tab" data-toggle="pill" href="#v-pills-customized" role="tab"
                                                           aria-controls="v-pills-customized" aria-selected="false"><p class="pt-2 w400">customized messaging</p></a></li>
            <li class="list-group-item text-capitalize"> <a class="nav-link" id="v-pills-advanced-tab" data-toggle="pill" href="#v-pills-advanced" role="tab"
                                                            aria-controls="v-pills-advanced" aria-selected="false"><p class="pt-2 w400">advanced segmentation</p></a></li>
            <li class="list-group-item text-capitalize"> <a class="nav-link" id="v-pills-multiple-tab" data-toggle="pill" href="#v-pills-multiple" role="tab"
                                                            aria-controls="v-pills-multiple" aria-selected="false"><p class="pt-2 w400">multiple channels for marketing</p></a></li>
            <li class="list-group-item text-capitalize"><a class="nav-link" id="v-pills-realtime-tab" data-toggle="pill" href="#v-pills-realtime" role="tab"
                                                           aria-controls="v-pills-realtime" aria-selected="false"><p class="pt-2 w400">realtime reporting</p></a></li>
            <li class="list-group-item text-capitalize"> <a class="nav-link" id="v-pills-scheduling-tab" data-toggle="pill" href="#v-pills-scheduling" role="tab"
                                                            aria-controls="v-pills-scheduling" aria-selected="false"><p class="pt-2 w400">ahead of time scheduling</p></a></li>
          </ul>
        </div>



        <div class="tab-content card col-md-8" id="v-pills-tabContent" style="background-color: #ffffff">
          <!--      easy to intergrate-->
          <div class="tab-pane fade show  active" id="v-pills-integrate" role="tabpanel"
               aria-labelledby="v-pills-integrate-tab">

              <div class="card-body mt-5 mb-5 ml-5 mr-5">
                <div class="row">
                  <div class="col-md-6 mt-5 ">
                    <h4 class="w400 section-title text-capitalize mb-0 pb-2 pt-4 text-primary">easy to
                      integrate </h4>
                    <p class="section-paragraph text-capitalize mt-2 w100">
                      integration is a child’s game. just plug and play.you would be ready for use with very less
                      effort.
                    </p>
                  </div>
                  <div class="col-md-6 mt-5 mb-0 pb-2 pt-4">
                    <img class="ml-5" src="assets/img/userndot/product/1.svg">
                  </div>
                </div>
              </div>
          </div>

          <!--        abtesting feature-->
          <div class="tab-pane fade" id="v-pills-testing" role="tabpanel" aria-labelledby="v-pills-testing-tab">
              <div class="card-body mt-5 mb-5 ml-5 mr-5">
                <div class="row">
                  <div class="col-md-6 mt-5">
                    <h4 class="w400 section-title text-capitalize mb-0 pb-2 pt-4 text-primary">a/b testing /
                      experiment </h4>
                    <p class="section-paragraph text-capitalize w100 mt-2">experiment with different kind of messaging and
                      keep the best,
                      and
                      gradually reach towards the ideal.
                    </p>
                  </div>
                  <div class="col-md-6 mt-5 mb-0 pb-2 pt-4">
                    <img class="ml-5" src="assets/img/userndot/product/2.svg">
                  </div>
                </div>
              </div>
          </div>

            <!--        geolocation -->
            <div class="tab-pane fade" id="v-pills-geolocation" role="tabpanel"
                 aria-labelledby="v-pills-geolocation-tab">
            <div class=" card-body mt-5 mb-5 ml-5 mr-5">
              <div class="row">
                <div class="col-md-6 mt-5">
                  <h4 class="w400 section-title text-capitalize mb-0 pb-2 pt-4 text-primary">geolocation
                    based targeting </h4>
                  <p class="section-paragraph text-capitalize w100 mt-2">you could target your users based on their
                    geographical
                    locations.
                  </p>
                </div>
                <div class="col-md-6  mt-5 mb-0 pb-2 pt-4">
                  <img class="ml-5" src="assets/img/userndot/product/3.svg">
                </div>
              </div>
            </div>
          </div>


        <!--        customizing feature-->
        <div class="tab-pane fade" id="v-pills-customized" role="tabpanel" aria-labelledby="v-pills-customized-tab">
            <div class="card-body mt-5 mb-5 ml-5 mr-5">
              <div class="row">
                <div class="col-md-6 mt-5">
                  <h4 class="w400 section-title text-capitalize mb-0 pb-2 pt-4 text-primary">customized
                    messaging </h4>
                  <p class="section-paragraph text-capitalize w100 mt-2">use the details and behaviour of your user to send
                    them custom
                    messages.
                  </p>
                </div>
                <div class="col-md-6  mt-5 mb-0 pb-2 pt-4">
                  <img class="ml-5" src="assets/img/userndot/product/4.svg">
                </div>
              </div>
            </div>
          </div>

        <!--   advanced segmentation   -->
        <div class="tab-pane fade" id="v-pills-advanced" role="tabpanel" aria-labelledby="v-pills-advanced-tab">
            <div class="card-body mt-5 mb-5 ml-5 mr-5">
              <div class="row">
                <div class="col-md-6 mt-5">
                  <h4 class="w400 section-title text-capitalize mb-0 pb-2 pt-4 text-primary">advanced
                    segmentation </h4>
                  <p class="section-paragraph text-capitalize w100 mt-2">segment your users with the help of our advanced
                    segmentation tool
                    based on user details, user behaviour and geo locations.
                  </p>
                </div>
                <div class="col-md-6  mt-5 mb-0 pb-2 pt-4">
                  <img class="ml-5" src="assets/img/userndot/product/5.svg">
                </div>
              </div>
            </div>
          </div>

        <!--    multiple channels for marketing  -->
        <div class="tab-pane fade" id="v-pills-multiple" role="tabpanel" aria-labelledby="v-pills-multiple-tab">
            <div class="card-body mt-5 mb-5 ml-5 mr-5">
              <div class="row">
                <div class="col-md-6 mt-5">
                  <h4 class="w400 section-title text-capitalize mb-0 pb-2 pt-4 text-primary">multiple
                    channels for marketing </h4>
                  <p class="section-paragraph text-capitalize w100 mt-2">email, sms, mobile notifications, in app
                    notification, browser
                    push
                    notifications,
                    and browser notifications all at one place.
                  </p>
                </div>
                <div class="col-md-6  mt-5 mb-0 pb-2 pt-4">
                  <img class="ml-5" src="assets/img/userndot/product/6.svg">
                </div>
              </div>
            </div>
        </div>

        <!--   realtime reporting   -->
        <div class="tab-pane fade" id="v-pills-realtime" role="tabpanel" aria-labelledby="v-pills-realtime-tab">
            <div class="card-body mt-5 mb-5 ml-5 mr-5">
              <div class="row">
                <div class="col-md-6 mt-5">
                  <h4 class="w400 section-title text-capitalize mb-0 pb-2 pt-4 text-primary">realtime
                    reporting </h4>
                  <p class="section-paragraph text-capitalize w100 mt-2">get quick and realtime feedback about the users and
                    user
                    behaviour.
                  </p>
                </div>
                <div class="col-md-6  mt-5 mb-0 pb-2 pt-4">
                  <img class="ml-5" src="assets/img/userndot/product/7.svg">
                </div>
              </div>
            </div>
        </div>

        <!--   ahead of time scheduling   -->
        <div class="tab-pane fade" id="v-pills-scheduling" role="tabpanel" aria-labelledby="v-pills-scheduling-tab">
            <div class="card-body mt-5 mb-5 ml-5 mr-5">
              <div class="row">
                <div class="col-md-6 mt-5">
                  <h4 class="w400 section-title text-capitalize mb-0 pb-2 pt-4 text-primary">ahead of time
                    scheduling </h4>
                  <p class="section-paragraph text-capitalize w100 mt-2">schedule campaigns at the convenience of your time.
                  </p>
                </div>
                <div class="col-md-6  mt-5 mb-0 pb-2 pt-4">
                  <img class="ml-5" src="assets/img/userndot/product/8.svg">
                </div>
              </div>
            </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</section>
</section>

