.margin {
  margin-left: auto;
}
.product {
  margin-top: 6em;
  letter-spacing:1px;
}
img {
  height: 10em;
}
.section-paragraph {
  font-weight: 600;
  font-family: Montserrat;
  letter-spacing: 1px;
  font-size: 16px;
}
