<!-- Modal -->
<div class="modal fade" id="testCampaignModal" tabindex="-1" role="dialog" aria-labelledby="testCampaignModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="testCampaignModalLabel">Send Test Campaign</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f3="ngForm" *ngIf="testCampaignAvailable">
          <div>
            <label for="fromuser">From user(f) And Service Provider(Sp) *</label>
            <div class="form-group col-9" *ngIf="emailcmp && testCampaignService.clientEmailSettings">
              <select class="form-control" id="fromuser" [(ngModel)]="cesid" [ngModelOptions]="{standalone: true}"
                      required>
                <option *ngFor="let cs of testCampaignService.clientEmailSettings" [ngValue]="cs.ceid">f-{{cs.fromAddress}} ,
                  sp-{{cs.srpName}}
                </option>
              </select>
            </div>
            <div class="form-group col-9" *ngIf="!emailcmp && testCampaignService.serviceProviders">
              <label for="sprov1">Service Provider</label>
              <select class="form-control" id="sprov1" [(ngModel)]="srpId" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let sp of testCampaignService.serviceProviders" [ngValue]="sp.id">{{sp.name}}</option>
              </select>
            </div>
            <div class="form-group col-9">
              <label for="testUsers">User By Type</label>
              <select class="form-control" id="testUsers" [(ngModel)]="testUsers" [ngModelOptions]="{standalone: true}">
                <option value="allTestUsers">All Test Users</option>
                <option value="usersByID">Users by ID</option>
              </select>
            </div>
            <div *ngIf="testUsers=='usersByID'">
              <div class="form-group col-9">
                <label for="userByType">User By Type</label>
                <select class="form-control" id="userByType" [(ngModel)]="findByType" [ngModelOptions]="{standalone: true}">
                  <option value="Email">Email</option>
                  <option value="UserNDot ID">UserNDot ID</option>
                  <option value="Mobile Number">Mobile Number</option>
                  <option value="Client User ID">Client User ID</option>
                  <option value="TOKEN">TOKEN</option>
                </select>
              </div>
              <div class="form-group col-9" *ngIf="findByType">
                <label for="ids">{{findByType}}s</label>
                <textarea class="form-control" id="ids" rows="3"></textarea>
                <div class="text-muted small">*Comma Separated IDs. *The User profile must exist for these IDs</div>
                <div class="text-muted small">*Example: abc@example.com,xyz@abc.com</div>
              </div>
            </div>
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary" (click)="sendTestCampaign()" [disabled]="f3.invalid" data-dismiss="modal">Test
              Campaign
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
