<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="text-right mt-3 mb-1">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" (click)="onCreateNew()">
      <i class="fas fa-plus mr-1"></i> Create New Segment
    </button>
  </div>
  <table class="table table-bordered my-3">
    <thead style="background-color: rgba(0, 0, 0, .03);">
    <tr>
      <th scope="col">Segment Name</th>
      <th scope="col">Segment Type</th>
      <th scope="col">Created On</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-segment [ngForOf]="segments.reverse()">
      <tr>
        <td (click)="toggleSegmentDetail(segment.id)">
          <span class="segment-name text-primary">{{segment.name}} &nbsp;&nbsp;&nbsp;
            <span *ngIf="toggleSegmentDetails[segment.id]"><i class="far fa-minus-square"></i>
            </span>
            <span *ngIf="!toggleSegmentDetails[segment.id]"><i class="far fa-plus-square"></i>
            </span>
          </span>
        </td>
        <td>{{segment.type}}</td>
        <td>{{segment.creationDate+"Z" | date:'medium'}}</td>
        <td><button class="btn btn-sm btn-outline-primary"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="View Reports"
                    (click)="viewReport(segment)"
        ><i class="far fa-chart-bar"></i></button></td>
      </tr>
      <tr *ngIf="toggleSegmentDetails[segment.id]">
        <td colspan="4">
          <app-segment-nlp [segment]="segment"></app-segment-nlp>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </table>
</div>
