<div class="container">
  <h2 class="text-center my-5">Segments</h2>
  <hr>
  <h3 class="text-center my-4">Based on behavior</h3>
  <div class="d-flex flex-row flex-wrap justify-content-around">
    <div class="col-sm-6 col-md-4 p-3">
      <div class="card clickable" (click)="onCreateBehaviourSegmentBasedOnAction()">
        <div class="card-header">Based On Action</div>
        <div class="card-body">
          <div>Create Segments based on user actions (events performed).</div>
          <div class="text-right">
            <div class="btn btn-primary">Create</div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 p-3">
      <div class="card clickable" (click)="onCreateBehaviourSegmentBasedOnInaction()">
        <div class="card-header">Based On Inaction</div>
        <div class="card-body">
          Create Segment based on user inactions (events done and not done).
          <div class="text-right">
            <div class="btn btn-primary">Create</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 p-3">
      <div class="card clickable" (click)="onCreateBehaviourSegmentBasedOnUserProperties()">
        <div class="card-header">Based On User Properties</div>
        <div class="card-body">
          Create Segment based on user properties, demographics, technology used etc.
          <div class="text-right">
            <div class="btn btn-primary">Create</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <h3 class="text-center my-4">Live Segments</h3>

  <div class="d-flex flex-row flex-wrap justify-content-around">
    <div class="col-sm-6 col-md-4 p-3">
      <div class="card clickable" (click)="onCreateLiveSegmentBasedOnSingleAction()">
        <div class="card-header">Single Action</div>
        <div class="card-body">
          Create real-time segment based on an action (event performed).
          <div class="text-right">
            <div class="btn btn-primary">Create</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 p-3">
      <div class="card clickable" (click)="onCreateLiveSegmentBasedOnSingleActionWithInactionWithinTime()">
        <div class="card-header">Single Action With No Action</div>
        <div class="card-body">
          Create real-time segment based on an action (event performed) and does not perform a subsequent action (event) within specified duration.
          <div class="text-right">
            <div class="btn btn-primary">Create</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
