<!-- Button trigger modal -->
<button type="button" class="btn btn-link pl-0"
        data-toggle="modal" data-target="#forgotPasswordModal"
        (click)="emptyUserEmail()">
  Forgot Password ?
</button>

<!-- Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotPasswordModalTitle">Forgot Password ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate #f="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   name="email"
                   id="email"
                   [(ngModel)]="user.email"
                   placeholder="Email"
                   #userEmail="ngModel"
                   email>
            <div class="feedback text-danger" *ngIf="userEmail.errors && userEmail.touched && user.email!='' ">
              <p>Invalid email</p>
            </div>
          </div>
          <div class="form-droup">
            <re-captcha (captchaResponse)="handleCorrectCaptcha($event)"
                        site_key="{{_site_key}}" #ReCaptchaComponent></re-captcha>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"
                data-dismiss="modal" (click)="submitEmail()"
                [disabled]="f.invalid || !recaptchaToken">Submit</button>
      </div>
    </div>
  </div>
</div>
