.header {
  background-color: #ebecf7;
}

.main {
  background-color: #F7F8FA;
}

.cursor {
  cursor: grabbing;
}

.benefits-paragraph {
  letter-spacing: 1.5px;
  font-weight: 600;
  word-spacing: 2px;

}
h5 {
  letter-spacing: 1.5px;
  font-weight: 600;
}
