.header {
  background-color: #F7F8FA;
  min-height: 35vh;
}

.main {
  background-color: #ffffff;
}

.cursor {
  cursor: grabbing;
}

.section-title {
  font-size: 1.3rem;
}

.benefits-paragraph {
  font-size: 1.0rem;
}

.section-paragraph {
  font-size: 1.0rem;
}

h5 {
  letter-spacing: 1.0px;
}

h2 {
  line-height: 1.2;
}
