.header-section {
  background-color: #F7F8FA;
}
.cursor {
  cursor: grabbing;
}
.main {
  background-color: #F7F8FA;
}
.benefits-paragraph {
  font-family: Montserrat;
  letter-spacing: 1px;
  font-weight: 600;

}
h5 {
  font-family: Montserrat;
  letter-spacing: 1px;
  font-weight: 600;
}
