<!--<header class="header-section">-->
<!--  -->
<!--</header>-->

<section class="py-5 px-4  container-fluid">
  <div class="row mt-3 col-md-12">
    <div class="col-md-4 text-center">
      <div class="text-center cursor"><img src="assets/img/userndot/UserTrack.jpeg" style="height: 4em;width: 4em;">
        <h2 class="font-weight-bold w200 text-primary" (click)="getEventData(track)">Track</h2>
        <h5 >See what they are doing.</h5>
      </div>
    </div>
    <div class="col-md-4 text-center ">
      <div class="text-center cursor"><img src="assets/img/userndot/segment.png " style="height: 4em;width: 4em;">
        <h2 class="font-weight-bold w200 text-primary" (click)="segmentData(segment)">Segment</h2>
        <h5>Leverage powerful analytics.</h5>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="text-center cursor"><img src="assets/img/userndot/campaign.jpg" style="height: 4em;width: 4em;">
        <h2 class="font-weight-bold w200 text-primary" (click)="campaignData(campaign)">Campaign</h2>
        <h5>Build and Run a successful campaign</h5>
      </div>
    </div>
  </div>
</section>

<!-- Track feature details-->

<section class="py-5 px-4  container-fluid theme-color" #track>
  <div class="col-md-12">
    <h2 class="text-center text-primary col-12">Track user events, identify opportunities</h2>
    <div class="row">
      <div class="col-md-6 py-5 px-4" style="letter-spacing: 1px;">
        <h4 class="font-weight-bold text-primary">Integrate with your mobile app or website</h4>
        <p>Simpliy integrate our SDK into your app. Available for iOS, Android, Web & more.</p>
        <h4 class="font-weight-bold text-primary">Track user events</h4>
        <p>Get detailed insights about user activities within you app or website.</p>
        <h4 class="font-weight-bold text-primary">Stay on top of key metrics</h4>
        <p>Get a bird’s eye of your engagement campaign performance.</p>
      </div>
      <div class="col-md-6 py-5 px-4">
        <img src="assets/img/userndot/track1.jpeg" style="height:20em">
      </div>
    </div>
  </div>
</section>

<!--Segment Details-->
<section class="py-2 px-4 container-fluod theme-color" #segment>
  <div class="col-md-12">
    <h2 class="text-center text-primary col-12">Identify users with powerful segmentation</h2>
    <div class="row">
      <div class="col-md-6 py-5 px-4" style="letter-spacing: 1px;">
        <h4 class="font-weight-bold text-primary">Create Your Segment</h4>
        <p>You can create behaviour type and real time segment</p>
        <h4 class="font-weight-bold text-primary">Why Segment Useful ?</h4>
        <p>Segmentation is the process of dividing a market of potential customers into groups, based on
          past behaviour or actions they will take in real time.
        </p>
      </div>
      <div class="col-md-6 py-5 px-4">
        <img src="assets/img/userndot/track1.jpeg" style="height:20em">
      </div>
    </div>
  </div>
</section>

<!--Campaign Feature Details-->

<section class="py-2 px-4 container-fluod theme-color" #campaign>
  <div class="col-md-12">
    <h2 class="text-center text-primary col-12">Build and Run Your Campaign</h2>
    <div class="row">
      <div class="col-md-6 py-5 px-4" style="letter-spacing: 1px;">
        <h4 class="font-weight-bold text-primary">Create Your Camapign</h4>
        <p>You Can create Email,Sms,Push and Web Push Campaign.</p>
        <h4 class="font-weight-bold text-primary">Camapign</h4>
        <p>UserNDot provide you with several communication channels to build and run a successful campaign that will
          reach out to your potential customers and produce desired results.</p>
      </div>
      <div class="col-md-6 py-5 px-4">
        <img src="assets/img/userndot/track1.jpeg" style="height:20em">
      </div>
    </div>
  </div>
</section>

<!--<section class="py-5 px-4 container-fluod theme-color" #engage>-->
<!--  <div class="col-md-12">-->
<!--    <h2 class="text-center text-primary">Engage your Users</h2>-->
<!--    <div class="row">-->
<!--      <div class="col-md-6 py-5 px-4">-->
<!--        <h4 class="font-weight-bold text-primary">Engage</h4>-->
<!--        <p>You Can create Email,Sms,Push and Web Push Campaign.</p>-->
<!--        <h4 class="font-weight-bold text-primary">Camapign</h4>-->
<!--      </div>-->
<!--      <div class="col-md-6 py-5 px-4">-->
<!--        <img src="assets/img/userndot/track1.jpeg" style="height:20em">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--Section Product Features-->
<br/>
<!--<section class="py-5 px-4 container-fluid">-->
<!--  <div class="container">-->
<!--    <div class="col-md-12">-->
<!--      <h2 class="display-4 text-uppercase text-center col-12 text-primary">Product Features</h2>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-md-6 py-5 px-4" style="letter-spacing: 1px;">-->
<!--        <p class="font-weight-bold">Easy to inter</p>-->
<!--    </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->




<section class="py-5 px-4 container-fluid theme-color">
  <div class="container">
    <div class="row justify-content-center py-3 mt-4">
      <h2 class="display-4 text-uppercase text-center col-12 text-primary">Product Features</h2>
    </div>
    <div class="row justify-content-center mt-4 mb-3">
      <div class="row mt-4 mb-3 mx-2">
        <div class="row pl-2">
          <div class="col-md-3 col-sm-6">
            <img src="assets/img/userndot/product/1.svg">
            <p class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary"
               style="letter-spacing:1px;">
              Easy to integrate</p>
            <p class="section-paragraph w100">
              Integration is a child’s game. Just plug and play. You would be ready for use with very less effort.
            </p>
          </div>
          <div class="col-md-3 col-sm-6">
            <img src="assets/img/userndot/product/2.svg">
            <p class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary"
               style="letter-spacing: 1px;">
              A/B Testing / Experiment</p>
            <p class="section-paragraph w100">Experiment with different kind of messaging and keep the best,
              and
              gradually reach towards the ideal.
            </p>
          </div>
          <div class="col-md-3 col-sm-6">
            <img src="assets/img/userndot/product/3.svg">
            <p class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary"
               style="letter-spacing: 1px;">
              Geolocation based targeting</p>
            <p class="section-paragraph w100">You could target your users based on their geographical
              locations.
            </p>
          </div>
          <div class="col-md-3 col-sm-6">
            <img src="assets/img/userndot/product/4.svg">
            <p class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary"
               style="letter-spacing: 1px;">
              Customized messaging</p>
            <p class="section-paragraph w100">Use the details and behaviour of your user to send them custom
              messages.
            </p>
          </div>
        </div>
      </div>

      <div class="row mt-4 mb-3 mx-2">
        <div class="row pl-2">
          <div class="col-md-3 col-sm-6">
            <img src="assets/img/userndot/product/5.svg">
            <p class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary"
               style="letter-spacing: 1px;">
              Advanced Segmentation</p>
            <p class="section-paragraph w100">
              Segment your users with the help of our advanced segmentation tool
              based on User details, user behaviour and Geo locations.
            </p>
          </div>
          <div class="col-md-3 col-sm-6">
            <img src="assets/img/userndot/product/6.svg">
            ` <p class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary"
                 style="letter-spacing: 1px;">
            Multiple channels for Marketing</p>
            <p class="section-paragraph w100">Email, SMS, Mobile Notifications, In App Notification, Browser
              Push
              notifications,
              and Browser Notifications all at one place.
            </p>
          </div>
          <div class="col-md-3 col-sm-6">
            <img src="assets/img/userndot/product/7.svg">
            <p class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary"
               style="letter-spacing: 1px;">
              Realtime reporting</p>
            <p class="section-paragraph w100">Get quick and realtime feedback about the users and user
              behaviour.
            </p>
          </div>
          <div class="col-md-3 col-sm-6">
            <img src="assets/img/userndot/product/8.svg">
            <p class="font-weight-bold section-title text-capitalize mb-0 pb-2 pt-4 text-primary"
               style="letter-spacing: 1px;">
              Ahead of time Scheduling</p>
            <p class="section-paragraph w100">Schedule campaigns at the convenience of your time.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
