<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <h2 class="text-center">Sign Up for Userndot</h2>

      <!--suppress ALL -->
      <form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm">

          <div class="form-group my-3">
            <label>First Name<sup>*</sup></label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" required
                   #firstName="ngModel" placeholder="First Name" trim="blur" >
            <div class="feedback text-danger"
                 *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
              <p *ngIf="firstName.errors.required">First name is required</p>
            </div>
          </div>

          <div class="form-group my-3">
            <label>Last Name<sup>*</sup></label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName"
                   required
                   #lastName="ngModel"
                   placeholder="Last Name"
                   trim="blur"
            >
            <div class="feedback text-danger"
                 *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
              <p *ngIf="lastName.errors.required">Last name is required</p>
            </div>
          </div>


        <div class="form-group my-3">
          <label for="company">Company Name<sup>*</sup></label>
          <input type="text"
                 class="form-control"
                 name="company"
                 id="company"
                 [(ngModel)]="model.name"
                 required
                 #company="ngModel"
                 placeholder="Company Name"
                 trim="blur"
          >
          <div class="feedback text-danger"
               *ngIf="company.errors && (company.dirty || company.touched)">
            <p *ngIf="company.errors.required">Company name is required</p>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="phoneNumber">Mobile number<sup>*</sup></label>
          <ngx-intl-tel-input id="phoneNumber"
                              [(value)]="model.phone"
                              [preferredCountries]="preferredCountries"
                              (checkPhoneNumberLength)="phoneNumberLengthCheck($event)"
                              (getSelectedCountryName)="saveCountryName($event)"></ngx-intl-tel-input>
          <div class="alert alert-danger col-12 mb-0 py-2"
               *ngIf='phoneNumberLength <10'>
            Invalid Phone Number.
          </div>
        </div>

        <div class="form-group my-3">
          <label>Email<sup>*</sup></label>
          <input type="email"
                 class="form-control"
                 name="email"
                 [(ngModel)]="model.email"
                 required
                 pattern="[^ @]*@[^ @]*"
                 #email="ngModel"
                 placeholder="Email">
          <div class="feedback text-danger"
               *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required">Email is required</p>
            <p *ngIf="email.errors.pattern">Not a valid email</p>
          </div>
        </div>


        <div class="form-group my-3">
          <label>Password<sup>*</sup></label>
          <input type="password"
                 class="form-control"
                 name="password"
                 [(ngModel)]="model.password"
                 required
                 minlength="8"
                 pattern="^(?=\S*[a-z])(?=\S*[A-Z])(?=\S*\d)(?=\S*[^\w\s])\S{8,}$"
                 #password="ngModel"
                 placeholder="Password">
          <div class="feedback text-danger"
               *ngIf="password.errors && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 8 characters long</div>
            <div *ngIf="password.errors.pattern">Password must have one caps, one small, one digit, and one special character</div>
          </div>
        </div>

        <div class="form-group my-3">
          <label>Address<sup>*</sup></label>
          <input type="text"
                 class="form-control"
                 name="address"
                 [(ngModel)]="model.address"
                 required
                 #address="ngModel"
                 placeholder="Address"
                 trim="blur">
          <div class="feedback text-danger"
               *ngIf="address.errors && (address.dirty || address.touched)">
            <p *ngIf="address.errors.required">Address required</p>
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="termsOfService" required [checked]="termsOfServiceChecked" (change)="termsOfServiceChecked = !termsOfServiceChecked">
          <label class="form-check-label" for="termsOfService">I accept <a target="_blank" [routerLink]="['/terms-of-service']">Terms and Conditions</a> of service</label>
        </div>
        <re-captcha (captchaResponse)="handleCorrectCaptcha($event)"
                    site_key="{{_site_key}}" #ReCaptchaComponent></re-captcha>
        <div class="text-right">
          <button type="submit"
                  class="btn btn-primary my-2"
                  [disabled]="f.invalid ||  loading || !recaptchaToken || phoneNumberLength<10 || !termsOfServiceChecked" >Sign Up
          </button>
          <img *ngIf="loading"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      </form>
    </div>
  </div>
</div>
