<div class="row">
  <div class="col-lg-8 col-md-10 col-sm-12 mx-auto mt-4">
    <div class="card mx-3"
         *ngIf="!showScheduleForm">
      <h3 class="card-header">
        Setup Your Campaign
      </h3>
      <div class="card-body">
        <form novalidate
              #f="ngForm">
          <div class="form-group col-9">
            <label class="card-title h5">Campaign Name <sup>*</sup></label>

            <input class="form-control"
                   type="text"
                   placeholder="Campaign Name"
                   name="campaignName"
                   [(ngModel)]="campaignName"
                   pattern="[A-Za-z0-9-_][A-Za-z0-9\s-_]*"
                   #campaignN="ngModel"
                   required>
            <div class="feedback text-danger" *ngIf="campaignN.errors && (campaignN.dirty || campaignN.touched)">
              <div *ngIf="campaignN.errors.required">
                Name is required.
              </div>
              <div *ngIf="campaignN.errors.pattern">
                Name cannot contain any special characters and cannot start with the space.
              </div>

            </div>
          </div>
          <div class="form-group col-9">
            <label class="card-title h5">Who do you want to send this campaign to? <sup>*</sup></label>
            <select class="form-control"
                    name="segmentName"
                    #segmentID
                    [(ngModel)]="campaign.segmentationID" [ngModelOptions]="{standalone: true}" required>
              <option value="-1" selected disabled>Choose from a list of Segments . . .</option>
              <option *ngFor="let segment of segmentsList"
                      [ngValue]="segment.id">{{segment.name}}
              </option>
            </select>
          </div>
          <div class="form-group col-9">
            <label class="card-title h5">What do you want to Send? <sup>*</sup></label>
            <select class="form-control"
                    #templateID
                    [(ngModel)]="campaign.templateID" [ngModelOptions]="{standalone: true}" required>
              <option value="-1" selected disabled>Choose from a list of Templates . . .</option>
              <ng-container
                *ngIf="currentPath==='sms'">
                <option *ngFor="let smsTemplate of smsTemplatesList"
                        [ngValue]="smsTemplate.id">{{smsTemplate.name}}
                </option>
              </ng-container>
              <ng-container
                *ngIf="currentPath==='email'">
                <option *ngFor="let emailTemplate of emailTemplatesList"
                        [ngValue]="emailTemplate.id">{{emailTemplate.name}}
                </option>
              </ng-container>
              <ng-container
                *ngIf="currentPath==='webpush'">
                <option *ngFor="let template of webPushTemplatesList"
                        [ngValue]="template.id">{{template.name}}
                </option>
              </ng-container>
              <ng-container
                *ngIf="currentPath==='androidpush'">
                <option *ngFor="let template of androidTemplatesList"
                        [ngValue]="template.id">{{template.name}}
                </option>
              </ng-container>
            </select>

          </div>
          <button class="btn btn-primary ml-3 px-4"
                  (click)="continueToSchedule()"
                  type="button"
                  [disabled]='f.invalid || templateID.value=="-1" || segmentID.value=="-1"'>
            Continue
          </button>
        </form>
        <!--<form novalidate
              #f="ngForm">
          <div class="form-group col-9">
            <label class="card-title h5">Campaign Name <sup>*</sup></label>

            <input class="form-control"
                   type="text"
                   placeholder="Campaign Name"
                   name="campaignName"
                   [(ngModel)]="campaignName"
                   pattern="[A-Za-z0-9-_][A-Za-z0-9\s-_]*"
                   #campaignN="ngModel"
                   required>
            <div class="feedback text-danger" *ngIf="campaignN.errors && (campaignN.dirty || campaignN.touched)">
              <div *ngIf="campaignN.errors.required">
                Name is required.
              </div>
              <div *ngIf="campaignN.errors.pattern">
                Name cannot contain any special characters and cannot start with the space.
              </div>

            </div>
          </div>
          <div class="form-group col-9">
            <label class="card-title h5">Who do you want to send this campaign to? <sup>*</sup></label>
            <select class="form-control"
                    name="segmentName"
                    #segmentID
                    (change)="saveSegmentID(segmentID.value)">
              <option value="selectSegment" selected>Choose from a list of Segments . . .</option>
              <option *ngFor="let segment of segmentsList"
                      [value]="segment.id">{{segment.name}}
              </option>
            </select>
          </div>
          <div class="form-group col-9">
            <label class="card-title h5">What do you want to Send? <sup>*</sup></label>
            <select class="form-control"
                    #templateID
                    (change)="saveTemplateID(templateID.value)">
              <option value="selectTemplate" selected>Choose from a list of Templates . . .</option>
              <ng-container
                *ngIf="currentPath==='sms'">
                <option *ngFor="let smsTemplate of smsTemplatesList"
                        [value]="smsTemplate.id">{{smsTemplate.name}}
                </option>
              </ng-container>
              <ng-container
                *ngIf="currentPath==='email'">
                <option *ngFor="let emailTemplate of emailTemplatesList"
                        [value]="emailTemplate.id">{{emailTemplate.name}}
                </option>
              </ng-container>
            </select>

          </div>
          <button class="btn btn-primary ml-3 px-4"
                  (click)="continueToSchedule()"
                  type="button"
                  [disabled]='f.invalid || templateID.value=="selectTemplate" || segmentID.value=="selectSegment"'>
            Continue
          </button>
        </form>-->
      </div>
    </div>

    <div class="card mx-3"
         *ngIf="showScheduleForm">
      <h3 class="card-header">
        When do you want to schedule this campaign?
      </h3>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(f)"
              #f="ngForm">
          <div class="row px-3">
            <div class="col-12">
              <label class="card-title h5">Message Type</label>
              <br>
              <input class="mr-1"
                     type="radio"
                     name="messageType"
                     value="oneTime"
                     id="oneTime"
                     required
                     [(ngModel)]="scheduleType"
                     (click)="makeOneTimeDateObject()">
              <label for="oneTime">One Time</label>

              <input class="ml-2 mr-1"
                     type="radio"
                     name="messageType"
                     value="multipleDates"
                     id="multipleDates"
                     required
                     [(ngModel)]="scheduleType"
                     (click)="makeMultipleDateObject()">
              <label for="multipleDates">On Multiple Dates</label>

              <input class="ml-2 mr-1"
                     type="radio"
                     name="messageType"
                     value="recurring"
                     id="recurring"
                     required
                     [(ngModel)]="scheduleType"
                     (click)="makeRecurringObject()">
              <label for="recurring">Recurring</label>
            </div>
          </div>
          <div class="row px-3">
            <div class="col-12 mt-2"
                 *ngIf="scheduleType==='oneTime'">
              <label class="card-title h5">Campaign start date and time</label>
              <br>
              <input class="mr-1"
                     type="radio"
                     name="campaignStartTime"
                     value="Now"
                     id="now"
                     required
                     [(ngModel)]="schedule.oneTime.nowOrLater">
              <label for="now">Now</label>
              <input class="mr-1 ml-2"
                     type="radio"
                     name="campaignStartTime"
                     value="Later"
                     id="later"
                     required
                     [(ngModel)]="schedule.oneTime.nowOrLater">
              <label for="later">Later</label>
              <app-date-time *ngIf="schedule.oneTime.nowOrLater==='Later'"
                             [(campaignLaterTime)]="schedule.oneTime.campaignDateTime"></app-date-time>

            </div>
          </div>
          <div class="row px-3">
            <div class="col-12  mt-2"
                 *ngIf="scheduleType==='multipleDates'">
              <label class="card-title mb-0 h5">Pick Dates</label>
              <br>
              <app-date-time [campaignTimesList]="schedule.multipleDates.campaignDateTimeList"></app-date-time>
              <div #parent></div>
              <button type="button"
                      class="btn btn-link py-0 pl-0 mb-2"
                      (click)="addAnotherDateTime()">
                <i class="fa fa-plus " aria-hidden="true"></i>
                Add another date
              </button>
            </div>
          </div>
          <div *ngIf="scheduleType==='recurring'">
            <div class="col-12 mt-3">
              <label class="card-title mb-0 h5">Campaign Start</label>
              <div class="input-group col-md-5 col-sm-6 col-xs-6 pl-0 mt-3 mb-4"
                   daterangepicker
                   [options]="singlePicker"
                   (selected)="campaignStartDateSelect($event)">
              <span class="form-control uneditable-input pr-2 col-6"
                    name="daterange">
                {{ schedule.recurring.scheduleStartDate | date:'yyyy-MM-dd'}}
              </span>
                <span class="input-group-btn">
                <a type="button" class="btn btn-default"><i class="far fa-calendar-alt"></i></a>
              </span>
              </div>
            </div>
            <div class="col-12 mb-3 mt-2">
              <label class="card-title h5">Campaign End</label>
              <br>
              <input class="mr-1"
                     type="radio"
                     name="campaignEnd"
                     id="neverEnd"
                     value="NeverEnd"
                     [(ngModel)]="schedule.recurring.scheduleEnd.endType"
                     required
                     (change)="neverEndSelected();">
              <label for="neverEnd">Never End</label>
              <input class="ml-2 mr-1"
                     type="radio"
                     name="campaignEnd"
                     value="EndsOnDate"
                     [(ngModel)]="schedule.recurring.scheduleEnd.endType"
                     id="selectDate"
                     (change)="endsOnDateSelected();"
                     required>
              <label for="selectDate">Select Date</label>
              <input class="ml-2 mr-1"
                     type="radio"
                     name="campaignEnd"
                     value="Occurrences"
                     [(ngModel)]="schedule.recurring.scheduleEnd.endType"
                     id="afterOccurences"
                     (change)="checkOccurencesValue()">
              <label for="afterOccurences"
                     class="form-inline d-inline">
                After
                <input type="number"
                       name="occurences"
                       class="form-control col-1"
                       [(ngModel)]="schedule.recurring.scheduleEnd.occurrences"
                       (change)="checkOccurencesValidtation()"
                       [disabled]="!(schedule.recurring.scheduleEnd.endType == 'Occurrences')">
                occurences
              </label>
              <div class="text-danger" *ngIf="occurencesValueFalse">
                <span>Occurences Value should Lie in the range 1-1000.</span>
              </div>
              <div *ngIf="schedule.recurring.scheduleEnd.endType==='EndsOnDate'"
                   class="input-group col-md-5 col-sm-6 col-xs-6 pl-0 mt-3 mb-2"
                   daterangepicker
                   [options]="singlePicker"
                   (selected)="campaignEndDateSelect($event)">
              <span class="form-control uneditable-input pr-2 col-6"
                    name="daterange">
                  {{ schedule.recurring.scheduleEnd.endsOn | date:'yyyy-MM-dd' }}
              </span>
                <span class="input-group-btn">
                <a type="button" class="btn btn-default"><i class="far fa-calendar-alt"></i></a>
              </span>
              </div>
              <div class="text-danger"
                   *ngIf="schedule.recurring.scheduleEnd.endsOn<schedule.recurring.scheduleStartDate && schedule.recurring.scheduleEnd.endType==='EndsOnDate'">
                <span>Campaign End Date should be equal to or greater than Start date.</span>
              </div>
            </div>
            <div class="col-12 mb-2">
              <label class="card-title h5">Repeat </label>
              <cron-editor [(cron)]="cronExpression"
                           [disabled]="isCronDisabled"
                           [(options)]="cronOptions"
              >Cron here...
              </cron-editor>
            </div>
          </div>
          <div class=" mt-3 mb-4  mx-3 alert alert-info">
          <span class="font-weight-bold">
            Summary &#58;
          </span>
            Send {{scheduleType}}
            <span *ngIf="schedule && schedule.oneTime">
            {{schedule.oneTime.nowOrLater}}
          </span>
            <p *ngIf="schedule && schedule.oneTime && schedule.oneTime.nowOrLater==='Later'"
               class="d-inline">
              On
              <span class="mr-3">
              {{schedule.oneTime.campaignDateTime.date|date}} at {{schedule.oneTime.campaignDateTime.hours}}:{{schedule.oneTime.campaignDateTime.minutes}}
            </span>
            </p>
            <p *ngIf="schedule && schedule.multipleDates" class="d-inline">
              On
              <span *ngFor="let campaignDateTime of schedule.multipleDates.campaignDateTimeList"
                    class="mr-3">
              {{campaignDateTime.date|date}} at {{campaignDateTime.hours}}:{{campaignDateTime.minutes}}
            </span>
            </p>
            <p *ngIf="scheduleType=='recurring'">
              <b> {{getCronExpressionSummary()}} </b>
            </p>
          </div>
          <button class="btn btn-primary ml-3 px-4"
                  type="submit"
                  [disabled]="disableSubmit">Continue
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

