<div id="homepage">
  <header class="card" style="min-height: 30vh;">
    <div class="contact-us-heading justify-content-center py-3 mt-4 mb-3 card-body">
      <h2 class="display-4  text-uppercase text-center col-12 text-primary w200">Contact Us</h2>
      <h4 class="text-capitalize text-secondary text-center mt-3 w200">let's connect</h4>
      <p class="w200 text-center text-capitalize mt-3">We’d love to hear from you!</p>
       <p class="w200 text-center text-capitalize"> Send us your query and we will get in touch shortly!.</p>
    </div>
  </header>
  <app-contact-us-form></app-contact-us-form>
</div>

