<div class="container mb-5">
  <h1 class="text-center" *ngIf="createNewTemplate">Create Android Push Template</h1>
  <h1 class="text-center" *ngIf="!createNewTemplate">Edit Android Push Template</h1>
  <div class="row py-4">
    <div class="col-md-6">
      <form [formGroup]="androidTemplateFormModel" *ngIf="androidTemplate">
        <div class="form-group">
          <label for="name">Name<sup>*</sup></label>
          <input type="text" class="form-control" maxlength="100" id="name" name="name"
                 placeholder="Name (Will help you in searching templates)" formControlName="name">
        </div>
        <div class="feedback text-danger"
             *ngIf="name.errors && (name.dirty || name.touched)">
          <p *ngIf="name.errors.required">Name is required</p>
        </div>
        <div class="form-group">
          <label for="messageTitle">Message Title<sup>*</sup></label>
          <input type="text" class="form-control" id="messageTitle" name="messageTitle" placeholder="Message Title"
                 formControlName="title"
                 [mention]="mentionItems">
        </div>
        <div class="feedback text-danger"
             *ngIf="title.errors && (title.dirty || title.touched)">
          <p *ngIf="title.errors.required">Message Title is required</p>
        </div>
        <div class="form-group">
          <label for="messageBody">Message Body<sup>*</sup></label>
          <textarea type="text" class="form-control" id="messageBody" name="messageBody" placeholder="Message Body"
                    rows="8" formControlName="body"
                    [mention]="mentionItems"></textarea>
        </div>
        <div class="feedback text-danger"
             *ngIf="body.errors && (body.dirty || body.touched)">
          <p *ngIf="body.errors.required">Message Body is required</p>
        </div>
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="advanced" [(ngModel)]="advanced"
                 [ngModelOptions]="{standalone: true}">
          <label class="custom-control-label" for="advanced">Advanced
            <span *ngIf="!advanced" class="text-muted small">(Check to show Advanced Features)</span>
            <span *ngIf="advanced" class="text-muted small">(Uncheck to hide Advanced Features)</span>
          </label>
        </div>
        <div *ngIf="advanced" class="my-3">
          <div class="form-group">
            <label for="channelId">Channel Id</label>
            <input type="text" class="form-control" id="channelId" name="channelId" placeholder="Channel Id"
                   formControlName="channelId">
          </div>
          <div class="form-group">
            <label for="channelName">Channel Name</label>
            <input type="text" class="form-control" id="channelName" name="channelName" placeholder="Channel Name"
                   formControlName="channelName">
          </div>
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" class="form-control" id="imageUrl" name="imageUrl" placeholder="Image URL"
                   formControlName="imageUrl">
          </div>
          <div class="form-group">
            <label for="largeIconUrl">Large Icon URL</label>
            <input type="text" class="form-control" id="largeIconUrl" name="largeIconUrl" placeholder="Large Icon URL"
                   formControlName="largeIconUrl">
          </div>
          <div class="form-group">
            <label for="deepLink">Deep Link</label>
            <input type="text" class="form-control" id="deepLink" name="deepLink" placeholder="Deep Link"
                   formControlName="deepLink">
          </div>
          <div class="form-group" formArrayName="actionGroup">
            <label>Action Group <span class="text-muted small">(You can add Multiple Actions)</span></label>
            <div class="row my-2" *ngFor="let ag of actionGroup.controls;let i = index;"
                 [formGroupName]="i">
              <label class="col-12 my-2"><u>Action {{i+1}}</u></label>
              <div class="col-10">
                <div class="form-group">
                  <input type="text" class="form-control" name="actionId" placeholder="Action ID"
                         formControlName="actionId">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="label" placeholder="Label"
                         formControlName="label">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="deepLink" placeholder="Deep Link"
                         formControlName="deepLink">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="icon" placeholder="Icon"
                         formControlName="icon">
                </div>
                <div class="form-group">
                  <div class="">
                    <input type="checkbox" class="" [id]="'cancel'+i" formControlName="autoCancel">
                    <label class="">Auto Cancel</label>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <button type="button"
                        class="close ml-auto mb-auto"
                        aria-label="Close"
                        (click)="removeAction(i)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <div class="my-3">
              <button class="btn btn-link" (click)="addAction()">+ Add Action</button>
            </div>
          </div>
          <div class="form-group">
            <label for="sound">URL for sound</label>
            <input type="text" class="form-control" id="sound" name="sound" placeholder="URL for sound"
                   formControlName="sound">
          </div>
          <div class="form-group">
            <div class="form-group">
              <div><label>Badge Icon</label></div>
              <div class="form-control" >
                <label class="radio-inline mx-2" *ngFor="let b of badgeIcons">
                  <input type="radio" name="badgeIcon" [value]="b.key"
                         formControlName="badgeIcon" (click)="badgeIconControl.setValue(b.key)"
                         [checked]="badgeIconControl.value == b.key">
                  {{b.value.replace("BADGE_ICON_","") | titlecase}}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="collapse_key">Collapse Key</label>
            <input type="text" class="form-control" id="collapse_key" name="collapse_key" placeholder="Collapse Key"
                   formControlName="collapse_key">
          </div>
          <div class="form-group">
            <div><label>Priority</label></div>
            <div class="form-control">
              <label class="radio-inline mx-2" *ngFor="let p of priorities">
                <input type="radio" name="priority" [value]="p.key"
                       formControlName="priority" (click)="priorityControl.setValue(p.key)"
                        [checked]="priorityControl.value == p.key">
                {{p.value | titlecase}}</label>
            </div>
          </div>
          <div class="form-group">
            <div><label>Time to Live</label></div>
            <div class="input-group mb-3">
              <input type="number" min="0" step="1" class="form-control" placeholder="Time to live" aria-label="Time to live"
                     aria-describedby="ttl-addon2" formControlName="timeToLive">
              <div class="input-group-append">
                <span class="input-group-text" id="ttl-addon2">seconds</span>
              </div>
            </div>
          </div>
          <div class="form-group" formArrayName="customKeyValuePair">
            <label>Custom Key Value Pairs</label>
            <div class="text-muted small">(You can add multiple key value pairs)</div>
            <div class="form-row my-2" *ngFor="let ckvp of customKeyValuePairsArray.controls;let i = index;"
                 [formGroupName]="i">
              <div class="col-5">
                <input type="text" class="form-control" id="key" name="key" placeholder="Key" formControlName="key">
                <div class="feedback text-danger"
                     *ngIf="getKeyControl(i).errors && (getKeyControl(i).dirty || getKeyControl(i).touched)">
                  <p *ngIf="getKeyControl(i).errors.required">Key is required</p>
                </div>
              </div>
              <div class="col-6">
                <input type="text" class="form-control" id="value" name="value" placeholder="Value"
                       formControlName="value">
                <div class="feedback text-danger"
                     *ngIf="getValueControl(i).errors && (getValueControl(i).dirty || getValueControl(i).touched)">
                  <p *ngIf="getValueControl(i).errors.required">Value is required</p>
                </div>
              </div>
              <button type="button"
                      class="close ml-auto col-1 mb-auto"
                      aria-label="Close"
                      (click)="removeCustomKeyValuePair(i)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="my-3">
              <button class="btn btn-link" (click)="addCustomKeyValuePair()">+ Add Pair</button>
            </div>
          </div>
        </div>
        <div class="text-right my-4">
          <button class="btn btn-light" (click)="onCancel()">Cancel
          </button>
          <button class="btn btn-primary" (click)="save()"
                  [disabled]="androidTemplateFormModel.invalid || loading">Save
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="preview">
        <div class="preview-sms preview-mobile preview-android">
          <div class="preview-android-sms">
            <div class="preview-androd-sms-text">{{androidTemplate.body}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
