<div class="main" style="background-color: #F7F8FA;">
  <div class="card">
    <div class="card-body">
      <h2 class="text-uppercase text-center w200 text-primary">RealTime Reporting</h2>
      <p class="w100 mt-4 text-center text-primary">Get Quick And Realtime Feedback About The Users And User
        Behaviour.</p>
      <div class="text-center mt-4">
        <button type="button"
                class="btn btn-secondary btn-lg mt-2  w400" data-toggle="modal"
                data-target="#demoFormModal">
          Schedule a Demo
        </button>
      </div>
    </div>
  </div>


  <!--model-->
  <div class="modal fade" id="demoFormModal" tabindex="-1" role="dialog"
       aria-labelledby="demoFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header pt-3 pb-2">
          <h5 class="modal-title mx-auto font-weight-bold text-center" id="demoFormModalLabel"
              style="font-weight: 800;">Schedule a Demo
            <br>
            <i class="far fa-handshake text-primary fa-2x mt-1"></i>
          </h5>
          <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-demo-form [modalDemoButton]="true"></app-demo-form>
        </div>
      </div>
    </div>
  </div>


  <div class="ml-5 mr-5 mt-4" style="border: 2px solid #F7F8FA;">
    <h4 class="w200 text-primary text-center">RealTime Reporting</h4>
    <p class="mt-4 mb-4 w300 section-paragraph ml-5 mr-5">
      UserNDot can build interactive reports to make you understand the performance of all your campaigns. The reports
      are
      made on the basis of the data present or by a pre-built analytics tool which provides with a funnel view of your
      user behaving in a set of manner. Using UserNDot's interactive data visualization tool you could set specific time
      parameters or events you would like to analyze and get the report in no time.

      It's very important for you to have a check on your campaigns, user behaviour on a regular basis and see whether
      the
      things are going as planned.
    </p>
  </div>
</div>
<div class="ml-5 mr-5">
  <div class="card-group ml-5 mr-5 mt-5 mb-5">

    <div class="card">
      <img class="card-img-top" src="assets/img/userndot/feature/Event-Report-1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-primary w200">Event Report</h5>
        <p class="card-text w300 section-paragraph">Event reports help you get a detailed idea about the events you have
          created, one such
          example of an event could be 'Add to Wishlist'. You can get a detailed report of how each event is performing
          on
          a segmented user or all your users in a given time frame. These reports help you track all your events that
          you
          create and help you understand their performance based on several factors.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/userndot/feature/Funnel-Report-1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-primary w200">Funnel Report</h5>
        <p class="card-text w300 section-paragraph">
          Funnel reports can help you know what users have followed a defined set of events in a defined way. Users some
          times perform a set of events in a particular order this information may be helpful for you to determine in
          which phase of AIDA ( A–Awareness I – Interest D – Desire A – Action) the user is.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/userndot/feature/segment-1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-primary w200">Segment Report</h5>
        <p class="card-text w300 section-paragraph">
          Segment reports are the one which helps you in understanding the reachability of your segmented users i.e how
          many users where reached through different means or channels like SMS, E-mail etc in a particular date range.
          It
          basically helps you get a detailed idea of all your segments in a single page. You can view all the campaigns
          which are associated with the segmented user.
        </p>
      </div>
    </div>
  </div>
</div>
