@import "../../../../../styles/scss/custombootstrap";
.filter {
  margin: 0 1rem;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding-top: 1rem;
}
.event-widget {
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.position{
  top: 2px;
}
.pos{
  cursor: pointer;
}
.custom-left{
  position: relative;
  right: 15px;
}
