<!-- Button trigger modal -->
<div class="text-right my-2 col-sm-11">
  <button type="button"
          class="btn btn-primary dropdown-toggle mb-3"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-plus mr-1"></i> Add Service Provider
  </button>
  <div class="dropdown-menu my-0 py-0">
    <a class="list-group-item list-group-item-action dropdown-item"
       href="#serviceProviderModal"
       data-toggle="modal"
       *ngFor="let serviceProviderType of serviceProviderTypes"
       (click)="onChangeServiceProviderType(serviceProviderType)">{{serviceProviderType}}</a>
  </div>
</div>

<!-- Modal -->
<div *ngIf=" serviceProviders.length>0 "
     class="modal fade" id="serviceProviderModal" tabindex="-1" role="dialog"
     aria-labelledby="serviceProviderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="serviceProviderModalLabel">{{serviceProviderCredentials.serviceProviderType}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-2 px-5">
        <div>
          <form novalidate (ngSubmit)="onSave(f)" #f="ngForm">
            <div class="form-group">
              <label for="serviceProvider">Service Provider</label>
              <select required class="form-control" id="serviceProvider" name="serviceProvider"
                      [(ngModel)]="serviceProviderCredentials.serviceProvider" (change)="onChangeServiceProvider()">
                <option *ngFor="let serviceProvider of serviceProviders" value="{{serviceProvider}}">{{serviceProvider}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" placeholder="Name Of Service Provider" [(ngModel)]="serviceProviderCredentials.name" class="form-control">
            </div>
            <div *ngFor="let field of serviceProviderFields" class="form-group">
              <label for="{{field.fieldName}}">{{field.fieldDisplayName}}</label>
              <input *ngIf="field.fieldType !='select'" required type="text" placeholder="{{field.fieldDisplayName}}" class="form-control"
                     id="{{field.fieldName}}" name="{{field.fieldName}}"
                     [(ngModel)]="serviceProviderCredentials.credentialsMap[field.fieldName]">

              <select *ngIf="field.fieldType =='select'" [(ngModel)]="serviceProviderCredentials.credentialsMap[field.fieldName]"
                      class="form-control" id="{{field.fieldName}}" name="{{field.fieldName}}">
                <option *ngFor="let v of field.options" [value]="v">{{v}}</option>
              </select>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="isDefault" [(ngModel)]="serviceProviderCredentials.isDefault"
                     [ngModelOptions]="{standalone: true}">
              <label class="form-check-label" for="isDefault">Mark as default</label>
              <div class="text-muted small">* Only single Service Provider could be default for a given type (Email, SMS, etc.)</div>
              <div class="text-muted small">* Marking a service provider as default, would mark other providers, if any, for that type as non-default</div>
              <div class="text-muted small">* First service provider of a type would be marked default irrespectively</div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"
                data-toggle="modal"
                data-target="#serviceProviderModal"
                [disabled]="f.invalid" (click)="onSave()">Save
        </button>
      </div>
    </div>
  </div>
</div>


<div class="row justify-content-center">

  <div class="col-sm-10">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Service Provider Type</th>
        <th scope="col">Service Provider</th>
        <th scope="col">Status</th>
        <th scope="col">Default</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor=" let serviceProviderCredential of serviceProviderCredentialsList">
        <th scope="row">{{serviceProviderCredential.id}}</th>
        <td>{{serviceProviderCredential.serviceProviderType}}</td>
        <td>{{serviceProviderCredential.serviceProvider}}</td>
        <td>{{serviceProviderCredential.status}}</td>
        <td>{{serviceProviderCredential.isDefault?'Yes':'No'}}</td>
        <td><button class="btn not-allowed" disabled>Edit</button>
          <a      href="#serviceProviderViewModal"
                  data-toggle="modal"
                  (click)="viewServiceProvider(serviceProviderCredential)">
            <button class="btn">View</button>
          </a>
          <button class="btn btn-outline-primary" (click)="markAsDefault(serviceProviderCredential)" [disabled]="serviceProviderCredential.isDefault" [ngClass]="{'not-allowed': serviceProviderCredential.isDefault}">Mark Default</button></td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--Modal 2-->
  <!--<div *ngIf=" serviceProviders.length>0"-->
       <!--class="modal fade" id="serviceProviderViewModal" tabindex="-1" role="dialog"-->
       <!--aria-labelledby="serviceProviderViewModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document" >-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
          <!--<h5 class="modal-title" id="serviceProviderViewModalLabel">{{serviceProviderViewData.serviceProviderType}}</h5>-->
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
          <!--</button>-->
        <!--</div>-->
        <!--<div class="modal-body py-2 px-5">-->
          <!--<table class="table" >-->
            <!--<tbody>-->
            <!--<tr *ngFor="let c of credentialsArray">-->
              <!--<td>{{c[0]}}</td>-->
              <!--<td style="max-width:300px; word-wrap: break-word;">{{c[1]}}</td>-->
            <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
          <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
