<div class="container-fluid campaigns">
  <div class="row mt-4 px-3">
    <div class="btn-group ml-auto">
      <button type="button"
              class="btn btn-primary dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-plus mr-1"></i> Create New Campaign
      </button>
      <div class="dropdown-menu py-0 my-0">
        <a class="dropdown-item list-group-item list-group-item-action disabled"
           [routerLink]="['sms']"
           [routerLinkActive]="['active']">
          <i class="fas fa-mobile-alt mr-2 "></i>SMS</a>
        <a class="dropdown-item list-group-item list-group-item-action"
           [routerLink]="['email']"
           [routerLinkActive]="['active']">
          <i class="far fa-envelope mr-2"></i>Email</a>
        <a class="dropdown-item list-group-item list-group-item-action disabled text-muted">
          <i class="fa fa-mobile mr-2"></i> Mobile Push</a>
        <a class="dropdown-item list-group-item list-group-item-action disabled text-muted">
          <i class="fab fa-chrome mr-2"></i> Web Push</a>
      </div>
    </div>
  </div>

  <div class="input-group my-3 mb-4 col-md-4 col-sm-8">
    <input type="text" class="form-control"
           placeholder="Filter by: Campaign Name"
           aria-label="CampaignName"
           aria-describedby="button-search-campaign"
           [(ngModel)]="searchfilterby"
    >
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="button" id="button-search-segment"><i class="fas fa-search"></i></button>
    </div>
  </div>

  <div class="row" id="campaign-navbar">
    <button type="button" class="btn btn-primary" [ngClass]="{active:campaignType=='Active'}" (click)="changeCampaignFilter('Active')">Active</button>
    <button type="button" class="btn btn-primary" [ngClass]="{active:campaignType=='Completed'}" (click)="changeCampaignFilter('Completed')">Completed</button>
    <button type="button" class="btn btn-primary" [ngClass]="{active:campaignType=='Errors'}" (click)="changeCampaignFilter('Errors')">Errors</button>
  </div>

  <div class="table-responsive mt-1">
    <table class="table table-bordered my-3">
      <thead style="background-color: rgba(0, 0, 0, .03);">
      <tr>
        <th scope="col">Campaign Name</th>
        <th scope="col">Campaign Type</th>
        <th scope="col">Created On</th>
        <th scope="col">Frequency</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let campaignItem of filteredCampaigns | orderBy : 'dateCreated' : true;">
        <td>
          {{campaignItem.name.charAt(0).toUpperCase()+ campaignItem.name.slice(1).toLowerCase()}}
          <a (click)="getCampaignItem(campaignItem)" data-toggle="modal" data-target="#campaignInfoModal"
             tooltip="Campaign Info">
            <i class="far fa-question-circle text-primary ml-2"></i></a></td>
        <td>{{campaignItem.campaignType}}</td>
        <td>{{campaignItem.dateCreated+"Z" | date:'medium'}}</td>
        <td>
          <span *ngIf="campaignItem.schedule.oneTime!==null">One Time</span>
          <span *ngIf="campaignItem.schedule.multipleDates!==null">Multiple Dates</span>
          <span *ngIf="campaignItem.schedule.recurring!==null">Recurring</span>
        </td>
        <td *ngIf="campaignItem.status == 'ERROR'">
          <a href="#" (click)="getCampaignError(campaignItem)" data-toggle="modal" data-target="#campaignErrorModal"
                                                      tooltip="Campaign Error Info">
          {{campaignItem.status}}</a>
        </td>
        <td *ngIf="campaignItem.status != 'ERROR'">{{(campaignItem.status=='CREATED'|| campaignItem.status=='RESUMED' ) ? ("Running") : ( campaignItem.status
          )}}
        </td>
        <td class="text-center">
          <button class="btn btn-sm btn-outline-primary btn-action" tooltip="View Report" (click)="viewReportClicked(campaignItem.id)">
            <i class="far fa-chart-bar"></i>
          </button>
          <button *ngIf="campaignItem.status=='PAUSED' "
                  class="btn btn-sm btn-outline-primary btn-action"
                  tooltip="Resume Campaign"
                  data-toggle="modal" data-target="#campaignActionConfirmationDialog"
                  (click)="getCampaignId(campaignItem,'resume')"
                  id="resumeCampaignButton"><i class="fas fa-play text-primary"></i>
          </button>
          <button *ngIf="campaignItem.status=='CREATED' || campaignItem.status=='RESUMED'"
                  class="btn btn-sm btn-outline-primary btn-action"
                  data-toggle="modal" data-target="#campaignActionConfirmationDialog"
                  (click)="getCampaignId(campaignItem,'pause')"
                  tooltip="Pause Campaign"
                  id="pauseCampaignButton"><i class="far fa-pause-circle"></i>
          </button>
          <button class="btn btn-sm btn-outline-primary btn-action"
                  data-toggle="modal" data-target="#campaignActionConfirmationDialog"
                  (click)="getCampaignId(campaignItem,'stop')"
                  [disabled]="campaignItem.status=='DELETED' || campaignItem.status=='STOPPED' || campaignItem.status=='ERROR'"
                  tooltip="Stop Campaign"
                  id="stopCampaignButton"><i class="far fa-stop-circle"
                                             [ngClass]="{'text-muted':campaignItem.status=='DELETED'|| campaignItem.status=='STOPPED' || campaignItem.status=='ERROR'}"></i>
          </button>
          <button class="btn btn-sm btn-outline-primary btn-action"
                  data-toggle="modal" data-target="#campaignActionConfirmationDialog"
                  (click)="getCampaignId(campaignItem,'delete')"
                  [disabled]="campaignItem.status=='DELETED' || campaignItem.status=='ERROR'"
                  tooltip="Delete Campaign"
                  id="deleteCampaignButton"><i class="far fa-trash-alt"
                                               [ngClass]="{'text-muted':campaignItem.status=='DELETED' || campaignItem.status=='ERROR'}"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- Campaign Information Modal -->
  <div #campaignInformationModal *ngIf="showCampaignInfoModal"
       class="modal fade " id="campaignInfoModal" tabindex="-1" role="dialog" aria-labelledby="campaignInfoModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title ml-auto" id="campaignInfoModalTitle">
            {{modalCampaignInfoObject.name.charAt(0).toUpperCase()+
            modalCampaignInfoObject.name.slice(1).toLowerCase()}}
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-light">
          <app-campaigns-info></app-campaigns-info>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Pause,resume, stop ,delete Campaign Modal -->

  <div class="modal fade" id="campaignErrorModal" tabindex="-1" role="dialog" aria-labelledby="campaignErrorModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold text-capitalize ml-auto" id="campaignErrorModalLabel">Campaign Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showCampaignErrorMessage = false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-size: 1.2rem;">
          {{campaignErrorMessage}}
        </div>
        `
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showCampaignErrorMessage = false">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="campaignActionConfirmationDialog" tabindex="-1" role="dialog" aria-labelledby="campaignConfirmationModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold text-capitalize ml-auto" id="campaignConfirmationModalLabel">{{campaignConfirmationDialogText}} Campaign</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-size: 1.2rem;">
          Are you sure you want to {{campaignConfirmationDialogText}} the campaign?
        </div>
        `
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="executeCampaignFunction()">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>


