

@import "styles/scss/custombootstrap";
@import "~bootstrap/scss/bootstrap";

body, html {
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  color: #333333;
}

.icon-light {
  opacity: 0.4;
}

.w100{
  font-weight:light;

}

.w200{
  font-weight:500;
}
.w300{
  font-weight:400;
}
.w400{
  font-weight:700;
}
