<div class="container-fluid">
  <h1 class="mt-2">Create New Segment</h1>
  <div class="row d-flex flex-wrap flex-row">
    <div class="col-lg-10 col-sm-8  mt-2">
      <div class="card">
        <div class="card-header">
          <h4><i class="fas fa-users"></i> Users by behavior</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="segmentForm">
            <div class="card" formGroupName="didEvents">
              <div class="card-body">
                <div class="card-title">
                  <div class="d-inline">Users who did</div>
                  <span class="small text-muted">(optional)</span>
                </div>
                <!--<app-did-events [didEvents]="segment.didEvents"></app-did-events>-->
                <div class="form-group d-inline-flex mt-3" formGroupName="joinCondition">
                  <div class="mr-2">
                    <select class="form-control" id="andOr" formControlName="conditionType">
                      <option value="AllOf">All (AND)</option>
                      <option value="AnyOf">Any (OR)</option>
                    </select>
                  </div>
                  <div class="mt-2">
                    <p>of these events</p>
                  </div>
                </div>
                <!--<app-did-event [hideWhere]="didNotEvent"></app-did-event>-->
                <!--<ng-template #container></ng-template>-->
                <!--Did Event Form Begins-->
                <div formArrayName="events">
                  <app-did-event-reactive *ngFor="let eventControl of didEventArray.controls;let i = index;"
                                          [formGroupName]="i"
                  [didEventForm]="eventControl" [didEventIndex]="i"></app-did-event-reactive>
                  <div>
                    <button class="btn btn-success  mt-3" (click)="addDidEvent()"><i class="fa fa-plus-circle"></i> Add
                      Event
                    </button>
                  </div>
                </div>
              </div>
              AND
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Users who did not do <span class="small text-muted">(optional)</span></div>
                  <!--<app-did-events [didEvents]="segment.didNotEvents" [didNotEvent]="true"></app-did-events>-->
                </div>
              </div>
              AND

              AND
              <div *ngIf="segmentErrors && segmentErrors.length" class="mt-3 alert alert-danger">
                <div *ngFor="let sError of segmentErrors">
                  {{sError}}
                </div>
              </div>
              <!--<button *ngIf="showFind" class="btn btn-primary mt-2" (click)="find()"><i class="fas fa-search mr-2"></i>Find</button>-->
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card-header">User Properties</div>
                <div formArrayName="globalFilters">
                  <app-global-reactive *ngFor="let filter of globalFilterArray.controls; let i = index;"
                                       [globalFilterForm]="filter"
                                       [globalFilterFormIndex]="i"
                                       (remove)="removeGlobalFilter($event)"
                  ></app-global-reactive>
                  <div>
                    <button class="btn btn-success  mt-3" (click)="addGlobalFilter()"><i class="fa fa-plus-circle"></i>
                      Add
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="card-header">Location</div>
                <div formArrayName="geoLocations">
                  <app-geography-reactive *ngFor="let location of geograpgyFilterArray.controls; let i = index;"
                                          [geographyForm]="location"
                                          [geographyFormIndex]="i"
                                          (remove)="removeGeoLocation($event)"
                  ></app-geography-reactive>
                  <div>
                    <button class="btn btn-success  mt-3" (click)="addGeoLocation()"><i class="fa fa-plus-circle"></i>
                      Add
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--<app-segment-nlp *ngIf="showSegmentInNl" [segment]="segment"></app-segment-nlp>-->
      </div>
      <div *ngIf="segmentErrors && segmentErrors.length" class="mt-3 alert alert-danger">
        <div *ngFor="let sError of segmentErrors">
          {{sError}}
        </div>
      </div>
    </div>
  </div>
</div>
