aside {
  width: 200px;
}

.sidebar .icon {
  padding-right: 1rem;
}

.sidebar{ transition: all 0.5s  ease-in-out; }
.sidebar ul{ list-style:none; margin:0px; padding:0px; }
.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:8px 12px; color:#fff;border-left:0px solid #dedede;  text-decoration:none}
.sidebar li a.active{border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
.sidebar li a:hover{background-color:#000 !important;}
.sidebar li a i{ padding-right:5px;}
.sidebar ul li .sub-menu li a{ position:relative}
.sidebar ul li .sub-menu li a:before{
  content: " ";
  padding-left: 20px;
  padding-right: 10px;
  vertical-align: middle;
}
.sidebar ul li .sub-menu li a:hover:after {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 5px;
  background-color: #111;
  height: 100%;
}
.sidebar ul li .sub-menu li a:hover{ opacity:0.5; padding-left:20px; transition: all 0.5s  ease-in-out}
.sub-menu{ border-left:5px solid #dedede;}
.sidebar li a .nav-label,.sidebar li a .nav-label+span{ transition: all 0.5s  ease-in-out}


.sidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
.sidebar.fliph {
  width: 42px;transition: all 0.5s  ease-in-out;
}

.sidebar.fliph > ul > li > a {
  font-size: 1.5rem;
}

.sidebar.fliph li{ position:relative}
.sidebar.fliph .sub-menu {
  position: absolute;
  left: 39px;
  top: 0;
  background-color: #222;
  width: 150px;
  z-index: 100;
}

@media (max-width: 992px) {
  aside {
    width: 50px;
  }
  .sidebar li a .nav-label,.sidebar li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
  .sidebar {
    width: 42px;transition: all 0.5s  ease-in-out;
  }

  .sidebar > ul > li > a > .icon {
    font-size: 1.5rem;
  }

  .sidebar li{ position:relative}
  .sidebar .sub-menu {
    position: absolute;
    left: 45px;
    top: 0;
    background-color: #3c4055;
    width: 200px;
    z-index: 100;
  }
}
