<div class="fluid">
  <app-header class="loggedIn"></app-header>


  <div class="d-flex">

    <aside class="py-3 px-0 border-right bg-dark text-light" *ngIf="!hideLeftSidebar">
      <div class="sidebar left" [ngClass]="{'fliph':false}">
        <ul class="list-sidebar bg-default">
          <li> <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active" > <span class="icon"><i class="fa fa-th-large"></i></span> <span class="nav-label"> Dashboards </span><span class="nav-label"> <span class="fa fa-chevron-left pull-right"></span></span> </a>
            <ul class="sub-menu collapse" id="dashboard">
              <li [routerLinkActive]="['active']"><a href="#" [routerLink]="['/dashboard']">Now</a></li>
            </ul>
          </li>
          <!--<li> <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a> </li>-->
          <li> <a href="#" data-toggle="collapse" data-target="#templates" class="collapsed active" [routerLinkActive]="['active']"> <span class="icon"><i class="far fa-file"></i></span> <span class="nav-label">Templates</span><span class="nav-label"> <span class="fa fa-chevron-left pull-right"></span></span> </a>
            <ul class="sub-menu collapse" id="templates">
              <li class="active"><a [routerLink]="['/templates/email']" [routerLinkActive]="['active']">Email Templates</a></li>
              <li><a [routerLink]="['/templates/sms']" [routerLinkActive]="['active']">SMS Templates</a></li>
            </ul>
          </li>
          <li> <a href="#" data-toggle="collapse" data-target="#segments" class="collapsed active" [routerLinkActive]="['active']"><span class="icon"><i class="fa fa-table"></i></span> <span class="nav-label">Segments</span><span class="nav-label"> <span class="fa fa-chevron-left pull-right"></span></span></a>
            <ul  class="sub-menu collapse" id="segments" >
              <li><a [routerLink]="['/segment/find-users']" [routerLinkActive]="['active']">Find Users</a></li>
              <li><a [routerLink]="['/segment/segments']" [routerLinkActive]="['active']">Segments</a></li>
            </ul>
          </li>
          <li> <a  [routerLink]="['/campaigns']" [routerLinkActive]="['active']"><span class="icon"><i class="fa fa-laptop"></i></span> <span class="nav-label">Campaigns</span></a> </li>
          <li> <a href="#" data-toggle="collapse" data-target="#reports" class="collapsed active" ><span class="icon"><i class="fa fa-shopping-cart"></i></span> <span class="nav-label">Reports</span><span class="nav-label"> <span class="fa fa-chevron-left pull-right"></span></span></a>
            <ul  class="sub-menu collapse" id="reports" >
              <li><a [routerLink]="['/reports/event']" [routerLinkActive]="['active']">Events</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </aside>

    <div class="col pt-2">
      <div class="pb-2"><button class="btn btn-link text-dark" type="button" (click)="hideLeftSidebar = !hideLeftSidebar;"><i style="transform: scaleX(1.4);" class="fas fa-bars fa-lg"></i></button></div>
      <div style="min-height: 70vh">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <!--<div *ngIf="isLoggedIn()"></div>-->

  <app-footer></app-footer>
  <app-messages></app-messages>
</div>
