<div class="row justify-content-center">
  <div class="col-xl-7  col-lg-8 col-md-11 col-sm-10 px-5">
    <form class="form-row mx-0" novalidate>
      <input type="text"
             name="name"
             placeholder="Name"
             class="form-control  col-md-4 mr-4 mt-2"
             [ngClass]="{'border-danger':name.invalid && (name.touched || name.dirty)}"
             [(ngModel)]="sendersInfo.personal"
             pattern="[A-Za-z0-9-_][A-Za-z0-9\s-_]*"
             #name="ngModel"
             required>
      <input type="email"
             name="email"
             placeholder="Email"
             class="form-control col-md-5 mr-auto mt-2"
             [(ngModel)]="sendersInfo.address"
             [ngClass]="{'border-danger':email.invalid && (email.touched || email.dirty)}"
             #email="ngModel"
             email>
      <button class="btn btn-primary mt-2 info-add"
              type="add"
              (click)="addSendersInfo()"
              [disabled]="email.invalid || name.invalid">Add Info</button>
    </form>
    <div class="feedback text-danger" *ngIf="name.invalid && (name.touched || name.dirty)">
      <div *ngIf="name.errors.required">
        Name is required
      </div>
      <div *ngIf="name.errors.pattern">
        Name cannot contain any special characters and cannot start with the space.
      </div>
    </div>
    <div class="table-responsive-sm mt-4">
      <table class="table table-bordered">
        <thead>
          <tr class="bg-primary">
            <th scope="col" style="color: rgba(255, 255, 255, 0.5);">Name</th>
            <th scope="col" style="color: rgba(255, 255, 255, 0.5);">Email Id</th>
            <th scope="col" style="color: rgba(255, 255, 255, 0.5);">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let senderInfo of sendersInfoList">
            <td>{{senderInfo.personal}}</td>
            <td>{{senderInfo.address}}
             <td>
               <button class="border-0"
                       (click)="deleteSendersInfo(senderInfo)"
                       id="deleteButton"><i class="far fa-trash-alt text-primary"></i>
               </button>
             </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
