<div class="d-flex flex-row">
  <div class="form-group mx-2">
    <select class="form-control" (change)="dropdownChanged($event.target.value)" [ngModel]="localOperator">
      <option value="" disabled selected>--Select--</option>
      <option *ngFor="let comp of stringComparatorOperators" value="{{comp}}">
        {{stringComparatorMetadata[comp]["displayName"]}}
      </option>
    </select>
  </div>
  <div class="form-group mx-2" *ngIf="fieldRequired && !(selectOptionsRequired.indexOf(operator)>-1 && options && options.length > 0) && !(select2OptionsRequired.indexOf(operator)>-1 && options && options.length > 0)">
    <input type="text" class="form-control" [(ngModel)]="values[0]">
  </div>
  <div class="form-group mx-2" *ngIf="fieldRequired && selectOptionsRequired.indexOf(operator)>-1 && options && options.length > 0">
    <select class="form-control" placeholder="--Select--" [(ngModel)]="values[0]">
      <option value="" selected>--Select--</option>
      <option *ngFor="let prop of options" [value]="prop">{{prop}}</option>
    </select>
  </div>
  <div class="form-group mx-2"  *ngIf="fieldRequired && select2OptionsRequired.indexOf(operator)>-1 && options && options.length > 0">
    <select2
             [data]="options"
             [value]="localValues"
             [options]="select2Options"
             (valueChanged)="select2ValueChanged($event)"
             [width]="380"></select2>
  </div>
</div>
