<div class="event-widget my-3" #eventWidget>
  <div class="row d-flex flex-row ml-2">
    <div class="form-group m-2 mr-4">
      <select class="form-control" (change)="eventNameChanged($event.target.value)">
        <!--<option value="" disabled selected>&#45;&#45;Select&#45;&#45;</option>-->
        <option *ngFor="let regEvent of registeredEvents;let i=index" [value]="i">{{ regEvent.name }}</option>
      </select>
    </div>

    <app-date-comparator [(operator)]="didEvent.dateFilter.operator" [(values)]="didEvent.dateFilter.values"
                         [(valueUnit)]="didEvent.dateFilter.valueUnit"
                         class="row d-flex flex-row" *ngIf="eventSelected"></app-date-comparator>

    <button type="button"
            class="close ml-auto mr-4 pos"
            aria-label="Close"
            (click)="removeObject()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--registeredEvents[0].eventProperties-->
  <!--<app-filter [eventProperties]="eventProperties" [defaultProperties]="defaultProperties"></app-filter>-->
  <ng-template #container></ng-template>

  <div class="ml-3 mb-3" *ngIf="eventSelected">
    <button type="button" class="btn btn-link pt-0" (click)="addPropertyFilter()">
      <i class="fa fa-plus " aria-hidden="true"></i>
      Filter
    </button>
  </div>

  <div class="ml-3" *ngIf="!hideWhere && eventSelected">
    <p class="mb-1">where</p>
  </div>
  <div class="form-inline mb-4 mt-2" *ngIf="!hideWhere && eventSelected">
    <div class="form-group pr-0 ml-3">
      <select class="form-control" (change)="countDropdown($event.target.value)"
              [(ngModel)]="didEvent.whereFilter.whereFilterName">
        <option value="Count">Count</option>
        <option value="SumOfValuesOf" *ngIf="getNumberTypeEventProperties().length>0">Property Sum Of</option>
      </select>
    </div>
    <div class="form-group ml-2" *ngIf="!hidePropertySumFilter && getNumberTypeEventProperties().length>0">
      <select class="form-control" [(ngModel)]="didEvent.whereFilter.propertyName">
        <option *ngFor="let prop of getNumberTypeEventProperties()" [value]="prop.name">{{prop.name}}</option>
      </select>
    </div>
    <app-number-comparator class="ml-2"
                           [(operator)]="didEvent.whereFilter.operator"
                           [(values)]="didEvent.whereFilter.values"
                           [numberComparatorOperators]="['Equals', 'Between', 'GreaterThan', 'LessThan']"></app-number-comparator>
  </div>
</div>
