<footer class="footer px-5 py-2 mt-5">
  <div class="container py-4">
    <div class="row my-2 justify-content-between">
      <div class="col-lg-6 col-md-8 col-sm-6 my-2">
        <ul class="list-unstyled site-links">
          <li class="float-left d-inline-block mr-4"><a class="text-white" [routerLink]="['/']">Documentation</a></li>
          <li class="float-left d-inline-block mr-4"><a class="text-white" [routerLink]="['/contact-us']">Contact Us</a>
          </li>
          <li class="float-left d-inline-block mr-4"><a class="text-white" [routerLink]="['/terms-of-service']">Terms of
            Service</a></li>
          <li class="float-left d-inline-block mr-4"><a class="text-white" [routerLink]="['/aboutus']">About</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-5 my-2">
        <ul class="list-unstyled float-md-right float-sm-left">
          <li class="float-left d-inline-block mr-4">
            <a class="text-white" rel="nofollow" [routerLink]="['/']"><i class="fab fa-linkedin-in fa-lg"></i></a>
          </li>
          <li class="float-left d-inline-block mr-4">
            <a class="text-white" rel="nofollow" [routerLink]="['/']"><i class="fab fa-facebook-f fa-lg"></i></a>
          </li>
          <li class="float-left d-inline-block mr-4">
            <a class="text-white" rel="nofollow" [routerLink]="['/']"><i class="fab fa-twitter fa-lg"></i></a>
          </li>
          <li class="float-left d-inline-block mr-4">
            <a class="text-white" rel="nofollow" [routerLink]="['/']"><i class="fab fa-google-plus-g fa-lg"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center mt-5 mb-2">
      <small class="text-white">
        &copy; 2017 onward. All Rights Reserved. UserNDot is brought to you by Digicologies Software Pvt. Ltd.
      </small>
    </div>
  </div>
</footer>
