<div class="container-fluid">
  <div class="row  p-3  justify-content-center">
    <div class="col-lg-10 col-md-12 bg-white my-4 px-0 rounded profile-box"
         style="box-shadow: 0px 2px 6px 2px #c6cfd7;">
      <div class="user-profile-header text-center pb-3">
        <img src="/assets/img/user-profile.png" alt="user-profile-image" class="user-profile-image">
        <h3 class="mb-2">{{ eventUser.firstName }} {{ eventUser.lastName }}</h3>
      </div>
      <div class="row">
        <div class="form-group form-check ml-auto">
          <input type="checkbox" class="form-check-input" id="testUser" required [checked]="markTestUser" (change)="markTestUser = !markTestUser; markTestUserChanged();">
          <label class="form-check-label" for="testUser">Mark User as Test User</label>
        </div>
      </div>
      <div class="row mx-4 py-3 my-2">
        <div class="col-md-4 col-sm-6 py-2 border-right">
          <p>
            <span class="d-inline-block" tooltip="Contact Number"><i
              class="fas fa-phone  mr-3 ml-1  fa-rotate-90 user-info-icon"></i></span>
            <span>{{ eventUser.mobile }}</span>
          </p>
          <p>
            <span tooltip="Email">
              <i class="far fa-envelope-open  mr-3 ml-1 user-info-icon"></i>
            </span>
            <span>{{ eventUser.email }}</span>
          </p>
        </div>
        <div class="col-md-4 col-sm-6 py-2 border-right">
          <p>
            <span tooltip="Location">
              <i class="fas fa-map-marker-alt  mr-3 ml-1 user-info-icon"></i>
            </span>
            <span *ngIf="eventUser.address && eventUser.address != ''">{{eventUser.address}}</span>
            <span *ngIf="!(eventUser.address && eventUser.address != '')">{{eventUser.city}}, {{eventUser.country}}</span>
          </p>
          <p>
            <span tooltip="Latitude and Longitude"><i class="far fa-compass  mr-3 ml-1 user-info-icon"></i></span>
            <span class="d-inline-block">Lat - </span>
            <span class="d-block longitude">Lon - </span>
          </p>
        </div>
        <div class="col-md-4 col-sm-6 py-2">
          <p>
            <img src="../../assets/img/favicon-256.png" alt="UsernDot ID icon"
                 class="icon-size d-inline-block mr-3" tooltip="UserNDot ID">
            <span>{{eventUser.undId}}</span></p>
          <p>
            <span class="rounded font-weight-bold d-inline-block client-id p-1 mr-3"
                  style="background: #c6cfd7" tooltip="User ID">ID</span>
            <span>{{eventUser.clientUserId}}</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row  p-3  justify-content-center">
    <div class="col-lg-10 col-md-12 my-4 px-0">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active user-profile-tabs " href="#profile" data-toggle="tab">
            <i class="fas fa-address-card user-info-icon mr-2"></i> Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link user-profile-tabs " href="#events" data-toggle="tab">
            <i class="fas fa-tasks user-info-icon mr-2"></i> Events</a>
        </li>
      </ul>
      <div class="tab-content my-3">
        <div class="tab-pane active" id="profile">
          <div class="row px-3">
            <div class="col-md-8 bg-white p-5 my-5" style="border: 1px solid #c0c4c8;">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button"
                        class="btn btn-info user-profile-buttons"
                        value="userDetails"
                        (click)="myValue($event)"
                        [ngClass]="{'active':userProfile==='userDetails'}">User Details
                </button>
                <button type="button"
                        class="btn btn-info user-profile-buttons"
                        value="modeOfCommunication"
                        (click)="myValue($event)"
                        [ngClass]="{'active':userProfile==='modeOfCommunication'}">Mode Of Communication
                </button>
              </div>
              <table *ngIf="userProfile=='userDetails'" class="table table-bordered mt-4 w-75">
                <tbody>
                <tr *ngIf="eventUser.country">
                  <td>Nationality</td>
                  <td>{{ eventUser.country }}</td>
                </tr>
                <tr *ngIf="eventUser.firstName">
                  <td>First Name</td>
                  <td>{{ eventUser.firstName }}</td>
                </tr>
                <tr *ngIf="eventUser.lastName">
                  <td>Last Name</td>
                  <td>{{ eventUser.lastName }}</td>
                </tr>
                <tr *ngIf="eventUser.city">
                  <td>City</td>
                  <td>{{ eventUser.city }}</td>
                </tr>
                <tr *ngIf="eventUser.fbId">
                  <td>Facebook ID</td>
                  <td>{{ eventUser.fbId }}</td>
                </tr>
                <tr *ngIf="eventUser.googleId">
                  <td>Google ID</td>
                  <td>{{ eventUser.googleId }}</td>
                </tr>
                <tr *ngIf="eventUser.email">
                  <td>Email ID</td>
                  <td>{{ eventUser.email }}</td>
                </tr>
                <tr *ngIf="eventUser.gender">
                  <td>Gender</td>
                  <td>{{ eventUser.gender }}</td>
                </tr>
                <tr *ngIf="eventUser.dob">
                  <td class="text-uppercase">DOB</td>
                  <td>{{ eventUser.dob }}</td>
                </tr>
                </tbody>
              </table>
              <table *ngIf="userProfile=='modeOfCommunication'" class="table table-bordered mt-4 w-75">
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>In App Notification</td>
                  <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Email</td>
                  <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Web Push Notifications</td>
                  <td><i class="fas fa-times text-success"></i></td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>SMS</td>
                  <td><i class="fas fa-check text-secondary"></i></td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Push Notifications</td>
                  <td><i class="fas fa-times text-success"></i></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="events">
          <div class="row my-5">
            <div class="col-md-3">
              <form novalidate #f="ngForm">
                <div class="events-list w-100 py-3 rounded-top" style="background: #e9e9f0">
                  <p class="mb-0 px-4"> Events List</p>
                </div>
                <div class="table-responsive-sm">
                  <table class="table table-bordered  w-100">
                    <tbody>
                    <tr *ngFor="let eventSelected of eventsSelectedList">
                      <td class="text-center">
                        <input type="checkbox" [checked]="eventSelected.selected" name="{{eventSelected.event.name}}"
                               (change)="showEventDetails(eventSelected.event.name)">
                      </td>
                      <td>{{eventSelected.event.name}}</td>
                      <!--<td>{{eventSelected.event.name}}<span class="badge ml-4 event-count">9</span></td>-->
                    </tr>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
            <div class="col-md-7">
              <div class="events-list w-100 py-3 rounded-top" style="background: #e9e9f0">
                <p class="mb-0 px-4"> Event User Details</p>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="px-4" *ngFor="let filteredEvent of eventsSelectedList">
                    <!--<span class="font-weight-bold">{{ event.creationTime|date:'HH:mm:ss' }}</span>-->
                    <div *ngIf="filteredEvent.selected">
                      <p class="font-weight-bold mb-0">{{filteredEvent.event.name}}</p>
                      <p class="text-muted">
                        <span class="pr-1" tooltip="Date and time">
                          {{ filteredEvent.event.creationTime|date:'medium' }}
                          <span class="pl-2">|</span>
                        </span>
                        <span *ngIf="!isEmptyObject(filteredEvent.event.attributes)">
                          <span *ngFor="let key of filteredEvent.event.attributes | keys" tooltip="{{key.key}}">
                            <span class="pr-1">{{key.value}}
                              <span class="pl-2">|</span>
                            </span>
                          </span>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
