<div class="main">
  <div class="card mb-4">
    <div class="card-body">
      <h2 class="text-uppercase text-center w200 text-primary">Multichannel Marketing</h2>
      <p class="w100 mt-4 text-center text-primary">Sms, Email, Notification and Web </p>
      <div class="text-center mt-4">
        <button type="button"
                class="btn btn-secondary btn-lg mt-2  w400" data-toggle="modal"
                data-target="#demoFormModal">
          Schedule a Demo
        </button>
      </div>
    </div>
  </div>


  <!--model-->
  <div class="modal fade" id="demoFormModal" tabindex="-1" role="dialog"
       aria-labelledby="demoFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header pt-3 pb-2">
          <h5 class="modal-title mx-auto font-weight-bold text-center" id="demoFormModalLabel"
              style="font-weight: 800;">Schedule a Demo
            <br>
            <i class="far fa-handshake text-primary fa-2x mt-1"></i>
          </h5>
          <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-demo-form [modalDemoButton]="true"></app-demo-form>
        </div>
      </div>
    </div>
  </div>

  <div class="ml-5 mr-5">
  <div class="col-md-12 mt-5 mb-5">
    <div class="row mt-5">
      <div class="col-md-5 ml-3 mr-3">
        <h2 class="w200 text-primary text-center">Multichannel Marketing</h2>
        <p class="section-paragraph w300 mt-4 ml-5 mr-3 ">UserNDot provides functionality to run marketing campaigns with multiple channels like Email, SMS,
          Push Notifications on Mobile Apps, Push Notifications on Web Browsers etc. with simple plug and play solutions.
          Integration UserNDot and running successful campaigns is very simple with a few lines of code insertion.</p>
      </div>
      <div class="col-md-6 ml-3 mr-3 card">
        <!--   image slider   -->
        <div id="carouselExampleIndicators" class="carousel slide card-body" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="assets/img/userndot/feature/WebPush-TemplateCreation-2.png" alt="First slide" style="height:20em;width: 100%">
              <div class="carousel-caption d-none d-md-block">
                <p class="w300 text-primary"> Create Web Push Template</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/img/userndot/feature/Email-TemplateCreation-2.png" alt="Second slide" style="height:20em;width: 100%">
              <div class="carousel-caption d-none d-md-block">
                <p class="w300 text-primary">Create Email Template</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/img/userndot/feature/SMS-TemplateCreation-2.png" alt="Third slide" style="height:20em;width: 100%">
              <div class="carousel-caption d-none d-md-block">
                <p class="w300 text-primary">Create Sms Push Template</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="assets/img/userndot/feature/AndroidPush-TemplateCreation-2.png" alt="Four slide" style="height:20em;width: 100%">
              <div class="carousel-caption d-none d-md-block">
                <p class="w300 text-primary">Create Android Push Template</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="fa fa-angle-left fa-2x text-secondary" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="fa fa-angle-right fa-2x text-secondary" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </div>
    <div class="mt-5 mb-5">
      <h3 class="text-center text-primary  w200">Multiple Channel For Marketing</h3>
    </div>
    <div class="card-group ml-5 mr-5">
      <div class="card">
        <img class="card-img-top" src="assets/img/userndot/feature/Email-TemplateCreation-2.png" alt="Card image cap" style="height: 16em;width:100%">
        <div class="card-body">
          <h5 class="card-title text-primary w200">Email Template</h5>
          <p class="section-paragraph card-text w300"> Email marketing campaign is an email sent from you to one or more customers or segments.
            A successful email marketing campaign will get the users to act, engage, and help you get more leads and
            sales.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/userndot/feature/SMS-TemplateCreation-2.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-primary w200">Sms Template</h5>
          <p class="card-text w300 section-paragraph">SMS Marketing is considered as a top-rated result-producing marketing method, making it
            the mobile channel that offers the widest reach possible. You can easily integrate a SMS provider of your
            choice from UseNDot dashboard.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/userndot/feature/WebPush-TemplateCreation-2.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-primary w200">Web Push</h5>
          <p class="card-text section-paragraph w300">Web push campaign are notification based campaign where
            notifications are sent to a user via desktop web and mobile web. These alert-style messages slide in at the
            top or bottom right-hand corner of a desktop screen or
            appear on a mobile device in a way identical to push notifications delivered from apps.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
