<div class="row justify-content-center">
  <div class="col-lg-6 col-md-7 col-sm-8 px-5">
    <form novalidate
          #accountSettingsForm="ngForm">
      <div class="form-group">
        <label for="websiteUrl">Website's URL</label>
        <div class="input-group">
          <select class="input-group-addon protocols rounded-left p-2" name="protocol" [(ngModel)]="protocol">
            <span class="caret"></span>
            <option *ngFor="let pr of protocolsArray" [ngValue]="pr">{{pr}}</option>
          </select>
          <input type="text" class="form-control"
                 id="websiteUrl"
                 placeholder="Example: http://www.mywebsite.com"
                 name="websiteURL"
                 [(ngModel)]="websiteURL"
                 #siteURL="ngModel"
                 pattern="[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
                 required>
        </div>
        <div class="feedback text-danger" *ngIf="siteURL.invalid && (siteURL.touched || siteURL.dirty)">
          <div *ngIf="siteURL.errors.required">
            URL is required.
          </div>
          <div *ngIf="siteURL.errors.pattern">
            Invalid URL.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="timezoneInput">Country's Time Zone</label>
        <ng2-timezone-picker
          id="timezoneInput"
          [(timezone)]="accountSettings.timezone"
          [placeholder]="placeholderString"
          (change)="changeTimezone($event)"
          showOffset="true">
        </ng2-timezone-picker>
      </div>
    </form>
    <div class="float-right">
      <button class="btn btn-primary"
              (click)="getJSIntegrationCode()"
              [disabled]="accountSettingsForm.invalid">Get JS Integration Code
      </button>
    </div>
    <br>
    <div class="form-group" *ngIf="showCodeBlock">
      <label>Account ID:</label>
      <div><textarea rows="7" class="form-control" readonly>{{tokenValue}}</textarea></div>
    </div>
    <br>
    <figure class="mt-5" style="background: #EBEBE4;" *ngIf="showCodeBlock">
      <pre>
           <code id="codeValue">
             {{codeSnippet}}
          </code>
        </pre>
    </figure>

    <br class="mt-5">
    <hr>
    <form novalidate
          #unsubscribeLinkForm="ngForm"
          class="my-4">
      <div class="form-group">
        <label for="unsubscribeLink">Unsubscribe Link</label>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 id="unsubscribeLink"
                 [(ngModel)]="unSubscribeLink"
                 placeholder="Example: https://example.com/unsubscribe"
                 name="Unsubscribe Link"
                 pattern="[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
                 #unsubscribeLink="ngModel">
        </div>
        <div class="feedback text-danger"
             *ngIf="unsubscribeLink.invalid && (unsubscribeLink.touched || unsubscribeLink.dirty)">
          <div *ngIf="unsubscribeLink.errors.pattern">
            Invalid Link.
          </div>
        </div>
      </div>
      <div class="float-right">
        <button class="btn btn-primary"
                (click)="addUnSubscribeLink()"
                [disabled]="unsubscribeLinkForm.invalid">Add Unsubscribe Link
        </button>
      </div>
    </form>
  </div>
</div>
